@model Scienter.HotelERP.Common.Domain.Employee
@*<script src="~/Scripts/ui/common/scienter.common.datatimepicker.js"></script>*@
@{
    ViewBag.Title = "Create / Edit";
    
}

<div class="col-md-12">

    <form id="employees">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" value="@Model.Id" name="Id" id="Id" />

            <div class="row"> 
                <div class="col-md-5">
                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control font-size-16px" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group label-floating">
                        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control font-size-16px" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>

                    @*<div class="row">
        <div class="col-md-6">
            <div class="form-group label-floating">
                @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Dob, new { htmlAttributes = new { @class = "form-control font-size-16px" } })
                @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
            </div>*@

                    @*<div class="form-group">
            @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 input-group date EmployeeDateTime">
                @Html.TextBoxFor(model => model.Dob, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
        </div>*@

                    @*<div class="form-group">
            <div id="Dob" class='input-group date'>
                @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label" })

                @Html.TextBoxFor(model => model.Dob, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
        </div>*@

                    @*<div class="form-group label-floating">
            <label>Dob</label>
            <input type="text" id="Dob" class="form-control datePicker" value=@Model.Dob />
        </div>*@


                    @*<div class="row">*@
                    <div class="form-group label-floating col-md-8">
                        <label class="control-label">Dob*</label>
                        <div id="dobContainerInEmployees" class='input-group date'>
                            <input autocomplete="off" class="form-control datePicker text-box single-line" maxlength="100" id="Dob" name="Dob" type="text" value="@Model.Dob" required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    @*</div>*@

                    <div class="row">
                    <div class="form-group checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.IsActive)
                            @*<input type="checkbox" checked name="IsActive" value="True" />*@ Is Active
                        </label>
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
                        &nbsp;
                        <input type="reset" id="btnClear" value="Clear" class="btn btn-default" />
                    </div>
                </div>
                       
                   
                        <div class="col-md-1"></div>
                        <div class="col-md-6" style="display:none">
                            @{Html.RenderAction("ListVertical", "Properties", new { selectedPoperties = Model.Properties }); }
                        </div>
                    </div>
                </div>
    </form>

</div>


@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>*@


@*@System.Web.Optimization.Scripts.Render("~/scripts/validation-js")*@


@*<script type="text/javascript">

    $(function () {
        $('#dobContainerInEmployee').datetimepicker({
            format: 'MM/DD/YYYY'
        });

    });

</script>*@

<script>
    $(document).ready(function () {
        $('#Dob').daterangepicker({
            "showDropdowns": true,
            "showWeekNumbers": true,
            "showISOWeekNumbers": true,
            "singleDatePicker": true,
            "minDate": new Date('1980-01-01'),
            //'Custom Range': 'custom',
            //"yearRange": '1980:2018',
            "changeYear": true,
            "changeMonth": true,
            "opens": "right",
            "applyClass": "btn-primary",
            "dateLimit": {
                "days": false
            }
            //}, function (start, end, label) {
            //    $('input[name="From"]').val(start.format('YYYY-MM-DD'));
            //    $('input[name="To"]').val(end.format('YYYY-MM-DD'));
        });

        //$('.dobContainerInEmployee').val("");

    });
</script>
