@model Scienter.HotelERP.FrontOffice.WebUIMvc.Areas.Administration.Models.LaundryRatePaletViewModel
@{
    decimal? price = 0;
    string formatedPrice = "0.00";
    decimal? CostPrice = 0;
    decimal? SellingPrice = 0;
}
<style>
    table:not(.table-striped) tr:hover {
        background-position: 0 0;
        background-color: #fff;
    }
    table:not(.table-striped) tr:first-child {
        background-color: #fff;
    }
</style>
<table id="laundryRatePalet" style="width:100%">

    <tr>
        <th>Charge Type</th>
        @*<th class="text-center" >Cost</th>*@
        <th class="text-center"></th>
        <th class="text-center">Selling</th>
        @*<th>Price</th>*@
    </tr>
    @foreach (Scienter.HotelERP.Common.Domain.LaundryChargeType laundryChargeType in Model.AllLaundryChargeTypes)
    {
        if (Model.LaundryItemCategoryWiseTypeWisePrcings.Count > 0)
        {
            price = Model.LaundryItemCategoryWiseTypeWisePrcings.FirstOrDefault(x => x.ChargeTypeId == laundryChargeType.Id)?.Price;
            formatedPrice = string.Format("{0:#.00}", Convert.ToDecimal(price)).Replace("$", "").Replace(",", "");

            //CostPrice = Model.LaundryItemCategoryWiseTypeWisePrcings.FirstOrDefault(x => x.ChargeTypeId == laundryChargeType.Id)?.CostPrice;

            SellingPrice = Model.LaundryItemCategoryWiseTypeWisePrcings.FirstOrDefault(x => x.ChargeTypeId == laundryChargeType.Id)?.SellingPrice;

        }
        <tr class="laundryChargeType" laundryChargeTypeId="@laundryChargeType.Id">
            <td>
                @laundryChargeType.Name
            </td>
            @*<td>
                <div class="form-group" style="margin-top:0px !important; padding:0px !important; padding-right:10px;width: 111% !important;">
                    <input type="number" min="0.00" value="@CostPrice" max="1000000" class="form-control text-right padding-right-10px CostPrice" />
                </div>
            </td>*@
            <td></td>
            <td>
                <div class="form-group" style="margin-top:0px !important; padding:0px !important; padding-right:10px; width: 111% !important;">
                    @*<input type="number" min="0.00" value="@SellingPrice" max="1000000" class="form-control text-right padding-right-10px SellingPrice" />*@
                    <input class="form-control text-right padding-right-10px SellingPrice"  type="number" name="price" min="0" value="@SellingPrice" step="any">
                </div>
            </td>
            @*<td>
                <div class="form-group" style="margin-top:0px !important; padding:0px !important; padding-right:10px;">
                    <input type="number" min="0.00" value="@price" max="1000000" class="form-control text-right padding-right-10px laundryChargeTypeValue" />
                </div>
            </td>*@
        </tr>
    }
</table>

