@using Scienter.HotelERP.FrontOffice.WebUIMvc.Models
@using Scienter.HotelERP.Common.Domain.ViewModels
@using Scienter.HotelERP.Common.Utility

@model ComboBoxViewModel<RoomDetailView>
@{
    string required = "";
    if (Model.Required) { required = "required"; }
}

<select id="@Model.Id" name="@Model.Name" @required class="inhouseRoom-combo form-control">
    <option value="-1">N/A</option>
    @foreach (var option in Model.Options)
    {
        if (option.Id.ToString() == Model.SelectedValue)
        {
            <option value="@option.Id" data-room-rank="@option.Rank" selected>@option.Name</option>
        }
        else
        {
            <option value="@option.Id" data-room-rank="@option.Rank">@option.Name</option>
        }
    }
</select>
