

@model  IEnumerable<Scienter.HotelERP.Common.Domain.Designation>

@{
    ViewBag.Title = "Exising Designations";
}

<div class="table-responsive">
    <table class="table table-striped" id="existingDesignationGrid">

        <thead>
            <tr>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="col-md-1 text-primary">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th class="col-md-1 hidden-print"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="col-md-1">
                        <div class="form-group checkbox">
                            <label>
                                @Html.DisplayFor(modelItem => item.IsActive)
                                <span class="hidden">
                                    @if (item.IsActive)
                                    {
                                        @:Active
                                    }
                                    else
                                    {
                                        @:Inactive
                                    }
                                </span>
                            </label>
                        </div>

                    </td>
                    <td class="hidden-print text-right">
                        @*<a class="btn btn-theme-color-2 btn-sm call-popup-model" id="btnPrint" data-title="Designation - @item.Name" data-href="/administration/designations/print/@item.Id">
                            <span class="glyphicon glyphicon-print"></span>
                        </a>*@

                        <a class="btn btn-theme-color-2 btn-sm" id="btnEdit" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#content" href="/administration/designations/edit/@item.Id">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a class="btn btn-danger btn-sm call-popup-model-delete" id="btnDelete" data-href="/administration/designations/delete/@item.Id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#existingDesignationGrid').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: true,
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                ],
                scrollY: '58vh',
            } );
    });
</script>