@model Scienter.HotelERP.Common.Domain.Company

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyProfileTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyProfileTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceNo)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ProfileRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationRemaks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmationRemaks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATRegistrationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATRegistrationNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SVATRegistrationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SVATRegistrationNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MappingCode1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MappingCode1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MappingCode2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MappingCode2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MappingCode3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MappingCode3)
        </dd>





    </dl>
</div>
