@model Scienter.HotelERP.Common.Domain.PackageDetail

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackageHeaderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackageHeaderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChargeTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChargeTypeId)
        </dd>

    </dl>
</div>

