@using Scienter.HotelERP.FrontOffice.WebUIMvc.Models
@using Scienter.HotelERP.Common.Domain
@using Scienter.HotelERP.Common.Utility

@model ComboBoxViewModel<Company>
@{
    string required = "";
    if (Model.Required) { required = "required"; }
}

<select id="@Model.Id" name="@Model.Name" @required class="form-control">
    <option value="@ComboBoxes.DefaultOptionValue">@ComboBoxes.DefaultOptionMessage</option>
    @foreach (var option in Model.Options)
    {
        if (option.Id.ToString() == Model.SelectedValue)
        {
            <option value="@option.Id" data-IsBillPaymentFromLKR="@option.IsBillPaymentFromLKR" data-IsCreditEnable="@option.IsCreditEnabled" data-allowCreditPosting="@option.AllowCreditPosting" selected data-Address="@option.Address" data-Name="@option.Name" data-FIT="@option.FITProfile">@option.Name</option>
        }
        else
        {
            <option value="@option.Id" data-IsBillPaymentFromLKR="@option.IsBillPaymentFromLKR" data-IsCreditEnable="@option.IsCreditEnabled" data-allowCreditPosting="@option.AllowCreditPosting" data-Address="@option.Address" data-Name="@option.Name" data-FIT="@option.FITProfile">@option.Name</option>
        }
    }
</select>


