@model Scienter.HotelERP.Common.Domain.Complain

<div class="row">
    <div class="col-md-12">


        Subject   : @ViewBag.Subject
        <br />
        Description : @ViewBag.Description
        <br />
        Assign User : @ViewBag.AssignUser
        <br />
        Assigned Date :  @ViewBag.AssignedDate
        <br />
        Expected Date : @ViewBag.ExpectedDate
        <br />
        Remark : @ViewBag.Remark

        @*Logged Date : @ViewBag.CreatedDateTime*@

        @*Assign Date :@ViewBag.AssignDate*@
        <br />
        Completed User :@ViewBag.CompletedUser
        <br />
        Completed Date :@ViewBag.InspectedDateTime
        <br />
        Inspector Remark ::@ViewBag.InspectorRemark


    </div>
</div>
