@model List<Scienter.HotelERP.Common.Domain.ViewModels.ComplainViewModel>
@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-striped"
           id="existingComplainGrid"
           >

        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th>
                    Code
                </th>
                <th>
                    Status
                </th>
                <th>
                    ReservationNo
                </th>
                <th>
                    RoomNo
                </th>
                <th>
                    GuestName
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="hidden id" >
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>

                    <a href="~/guestcomplain/show/@item.ComplainCode"> @item.ComplainCode</a>
                    @*<br />
            @if (item.CurrentStatus.ToLower() == "started")
            {
                <span class="badge  blink_me" style="background-color:#23a067;">Working On</span>
            }
            else if (item.CurrentStatus.ToLower() == "hold")
            {
                <span class="badge blink_me" style="background-color:#ffd800;">@item.CurrentStatus</span>
            }
            else
            {
                <span class="badge" style="background-color:#0094ff;">@item.CurrentStatus</span>
            }*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-default btn-sm btn-edit" title="Edit Complain" data-toggle="tooltip" id="btnEdit" data-id="@item.Id">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-danger btn-sm call-popup-model-delete" id="btnDelete" data-href="/administration/GuestComplain/delete/@item.Id">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a class="btn btn-default btn-sm" id="btnTaken" data-code="@item.ComplainCode" data-id="@item.Id" @*data-href="/administration/GuestComplain/Assignees/@item.Id"*@>
                        <span class="glyphicon glyphicon-check"></span>
                    </a>
                    <button class="btn btn-default btn-sm call-popup-model" id="btnAssignee" data-title="Assignees" data-code="@item.ComplainCode" data-id="@item.Id"  data-href="/administration/GuestComplain/Assignees?Id=@item.Id&Description=@item.Description&Subject=@item.Subject">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
</table>
</div>

@*<script src="~/Scripts/ui/common/scienter.grid2.js"></script>*@

<script>
    $(document).ready(function () {
        $('#existingComplainGrid').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: true,
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                ],
                scrollY: '58vh',
            } );
    });

    //$('body').on('click', '#btnAssignee', function (e) {
    //   
    //    var id = $(this).attr('data-id');
    //    $.ajax({
    //        url: '/administration/GuestComplain/Assignees',
    //        dataType: 'html',
    //        method: 'POST',
    //        data: { complainid: id },
    //        success: function (data) {
              
    //        }
    //    });
    //});

</script>