@using Scienter.HotelERP.FrontOffice.WebUIMvc.Models
@using Scienter.HotelERP.Common.Domain
@using Scienter.HotelERP.Common.Utility

@model ComboBoxViewModel<ComplainCategory>
@{
    string required = "";
    if (Model.Required) { required = "required"; }
}

<select id="@Model.Id" name="@Model.Name" @required class="country-combo form-control">
    <option value="@ComboBoxes.DefaultOptionValue">@ComboBoxes.DefaultOptionMessage</option>
    @foreach (var option in Model.Options)
    {
        if (option.ID.ToString() == Model.SelectedValue)
        {
            <option value="@option.ID" selected>@option.Name</option>
        }
        else
        {
            <option value="@option.ID">@option.Name</option>
        }
    }
</select>

