
@model IEnumerable<Scienter.HotelERP.Common.Domain.ViewModels.ReservationHeaderView>

@{
    ViewBag.Title = "Check Out Reservation List";
}
<style>
    .btn-padding-override {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 0px !important;
        font-size: 10.5px !important;
    }

    .btn-right-padding5px {
        padding: 0px;
        padding-right: 5px;
    }

    .row-padding0px {
        padding: 0px;
    }

    .dataTables_filter {
        width: 29% !important;
        float: left !important;
    }

    .dt-buttons {
        width: 70% !important;
    }
</style>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 " id="main-grid-content">
            <div class="table-responsive">
                <table class="table font-size-12px" id="existingReservationGrid">
                    <thead>
                        <tr>
                            <th class="text-primary">

                            </th>
                            <th class="text-primary">

                            </th>
                            <th class="text-primary">
                                Arrival
                            </th>

                            <th class="text-primary">
                                Departure
                            </th>
                            <th class="text-primary">
                                Group#
                            </th>

                            <th class="text-primary col-md-1">
                                Res#
                            </th>

                            <th class="text-primary">
                                Guest
                            </th>

                            <th class="text-primary">
                                Company
                            </th>
                            <th class="text-primary">
                                Vouch#
                            </th>

                            <th class="text-primary col-md-1">
                                Category
                            </th>
                            <th class="text-primary">
                                Room Type
                            </th>
                            <th class="text-primary">
                                A.#
                            </th>
                            <th class="text-primary">
                                K.#
                            </th>
                            <th class="text-primary col-md-1">
                                Room#
                            </th>

                            <th class="text-primary col-md-1">
                                Status
                            </th>
                            <th class="text-primary hidden">
                                Res. Status
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th class="text-primary">

                            </th>
                            <th class="hidden"></th>
                            <th class="hidden"></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        
                        <tr class="@item.GuestProfileType">
                            <td>
                                <span class="@item.ReservationTypeIcon" title="@item.ResevationTypeName"></span>
                            </td>
                            <td>
                                <span class="@item.ReservationForIcon" title="@item.ReservationForIconText"></span>
                            </td>
                            <td class="arrival-date">
                                @item.ArrivalDate
                            </td>

                            <td class="depature-date">
                                @item.DepartureDate
                            </td>

                            <td>
                                @item.GResNo
                            </td>

                            <td class="res-no">
                                @item.ResNo
                            </td>

                            <td class="guest-name">
                                @item.GuestName
                            </td>

                            <td>
                                @item.AgentName
                            </td>
                            <td>
                                @item.VoucherNo
                            </td>
                            <td>
                                @item.RoomCat
                            </td>
                            <td>
                                @item.RoomTypeCode
                                @*@for (int i = 0; i < item.MaxHeadCount; i++)
            {
                <span class="glyphicon glyphicon-user display-inline font-size-18" data-toggle="tooltip"></span>
            }
            <span class="hidden">@item.RoomType</span>*@
                            </td>
                            <td>
                                @if (item.NoOfAdults > 0)
                                {
                                    <span class="glyphicon glyphicon-user" style="color:black; font-size:15px;" data-toggle="tooltip"></span>
                                    <sup class="superscript">@item.NoOfAdults</sup>
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-user" style="color:#808080; font-size:15px;" data-toggle="tooltip"></span>
                                }
                            </td>
                            <td>
                                @if (item.NoOfKids > 0)
                                {
                                    <span class="fa fa-child" style="color:black; font-size:15px;" data-toggle="tooltip"></span>
                                    <sup class="superscript">@item.NoOfKids</sup>
                                }
                                else
                                {
                                    @*<span class="fa fa-child" style="color:#808080; font-size:15px;" data-toggle="tooltip"></span>*@
                                    <span font-size:15px;" data-toggle="tooltip"></span>
                                }
                            </td>
                            <td>
                                @item.RoomNo
                            </td>
                            <td>
                                @item.RoomStatus
                            </td>
                            <td class="hidden" style="text-align:center;">
                                @item.ReservationStatus
                            </td>

                            <td style="text-align:center;">
                                @if (item.HasTraces == 1)
                                {
                                    <span class="fa fa-check" style="color:red; font-size:15px;" data-toggle="tooltip" title="Traces"></span>
                                    @*<img src="~/Content/mega-menu/img/Notifications_Alerts.png" style="max-width:25px; max-height:25px;"/>*@
                                }

                                else
                                {

                                }

                                @if (item.HasAlert == 1)
                                {
                                    <span class="glyphicon glyphicon-bell @*blink_me*@" style="color:red; font-size:15px;" data-toggle="tooltip" title="Alert"></span>
                                    @*<img src="~/Content/mega-menu/img/Notifications_Alerts.png" style="max-width:25px; max-height:25px;"/>*@
                                }

                                else
                                {

                                }

                                @if (item.HasTravel == 1)
                                {
                                    <span class="fa fa-taxi" style="color:red; font-size:15px;" data-toggle="tooltip" title="Transport"></span>
                                    @*<img src="~/Content/mega-menu/img/Notifications_Alerts.png" style="max-width:25px; max-height:25px;"/>*@
                                }

                                else
                                {

                                }

                            </td>
                            <td class="hidden-print text-right" style="text-align:right !important;">
                                <a class="btn btn-theme-color-2 btn-sm call-popup-model" id="" data-title="Reservation Activity Log" data-href="/Reservation/Reservations/ReservationActivityLog/@item.Id" title="Activity Log" data-toggle="tooltip" data-width="500">
                                    <span class="glyphicon glyphicon-tags"></span>
                                </a>
                            </td>
                            <td>
                                <div class="form-group checkbox">
                                    <label>
                                        <input type="hidden" value="Confirmed" class="res-status" />
                                        @*<input class="data-reservation-no" resNo="@item.ResNo" type="checkbox" value="@item.Id" />*@
                                        <input type="checkbox" class="data-reservation-no" guestId="@item.GuestProfileId" guestName="@item.GuestName" group-res-no="@item.GResNo" arrival-date=@item.Arrival departure-date="@item.Departure" room-id="@item.RoomId" room-code="@item.RoomNo" resNo="@item.ResNo" value="@item.Id" res-Uuid="@item.ResUuid" data-PropertyId="@item.PropertyId" data-isDormitory="@item.IsDormitory" />
                                    </label>
                                </div>
                            </td>

                            <td class="hidden">
                                @item.TourNo
                            </td>

                            <td class="hidden">
                                @item.VoucherNo
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#existingReservationGrid').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: false,
                "lengthMenu": [[14, 10, 25, 50, -1], [15, 10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                    'copy',
                    'excel',
                    'csv',
                    'pdf',
                    'print'
                ],
                scrollY: '58vh',
                //scrollCollapse: false
            })

        $('<button class="dropdown-item dt-button buttons-html5 pull-left data-filter-option" id="clearbtn" type="button" style="margin-top:10px; backgroud">Clear</button>').appendTo('.dt-buttons');
    });

    //$('#btnInvoiceCopies').click(function () {
    //    debugger;
    //    alert('oky');
    //    var guestid = $('input[class="data-reservation-no"]:checked').parents().eq(3).find('.res-no').html().trim();
    //    $('#btnInvoiceCopies').attr('data-href', '/reservation/reservations/PrintInvoiceCopy?resNo=' + guestid);
    //})





</script>
