@model Scienter.HotelERP.Common.Domain.ModuleCategoryWiseItem
@{
    ViewBag.Title = "_Form";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" value="@Model.Id" name="Id" id="Id" />
<form id="ModuleCategoryWiseItem">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Name *</label>
                        <input autocomplete="off" class="form-control text-box single-line" maxlength="100" id="Name" name="Name" type="text" value="@Model.Name" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating" id="amountField">
                        <label class="control-label">Rate *</label>
                        <input autocomplete="off" class="form-control text-box single-line number number-only rate" id="rate" name="rate" required type="text" value="@Model.Rate" maxlength="10" style="text-align:left !important;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Module Category *</label>
                        @*@{Html.RenderAction("modulesCategoryCombo", "ModuleCategoryWiseItems", new { name = "modulesCategorry", requiered = true, value = Model?.ModuleCategoryId });}*@
                        <select name="modules" id="modulesCategorry" class="form-control modulesCategorry" required>
                            <option value="@Model.ModuleCategoryId" selected>@Model.ModuleCategory</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Stock Location *</label>
                        @*@{Html.RenderAction("StockLocationCombo", "ModuleCategoryWiseItems", new { name = "stockLocation", requiered = true, value = Model?.StockLocationCode });}*@
                        <select name="stockLocation" id="stockLocation" class="form-control stockLocation" required>
                            <option value="@Model.StockLocationCode" selected>@Model.StockLocation</option>
                          </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
                &nbsp;
                <input type="reset" id="btnClear" value="Clear" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        ModuleCategoryCombo();
        StockLocationCombo();
    });
</script>