@using Scienter.HotelERP.FrontOffice.WebUIMvc.Models
@using Scienter.HotelERP.Common.Domain.ViewModels
@using Scienter.HotelERP.Common.Utility

@model ComboBoxViewModel<PostingBillTypeView>
@{
    string required = "";
    if (Model.Required) { required = "required"; }
}

<select id="@Model.Id" name="@Model.Name" @required class="form-control">
    <option value="@ComboBoxes.DefaultOptionValue">@ComboBoxes.DefaultOptionMessage</option>

    @foreach (var option in Model.Options)
    {
        if (option.Id.ToString() == Model.SelectedValue)
        {
            <option value="@option.Id" selected tax-groupId="@option.TaxGroupId" posting-catg="@option.PostingCategoryId" charge-code="@option.ChargeCodeId" data-price="@option.Price" data-isFixed="@option.IsFixedrate">@option.Name</option>
        }
        else
        {
            <option value="@option.Id" tax-groupId="@option.TaxGroupId" posting-catg="@option.PostingCategoryId" charge-code="@option.ChargeCodeId"  data-price="@option.Price" data-isFixed="@option.IsFixedrate">@option.Name</option>
        }
    }
</select>

