@model  IEnumerable<Scienter.HotelERP.Common.Domain.Budget>

@{
    ViewBag.Title = "Exising Bed Types";
}

<div class="table-responsive">
    <table id="existingBudgetGrid" class="table table-striped">
        <thead>
            <tr>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.SegId)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Month)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th class="col-md-1 hidden-print"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.SegId
                </td>
                <td>
                    @item.Month
                </td>
                <td>
                    @item.Year
                </td>
                <td>
                    @item.Value
                </td>
                <td class="hidden-print text-right">
                    @*<a class="btn btn-theme-color-2 btn-sm call-popup-model" id="btnPrint" data-title="Bed Type - @item.Name"  data-href="/administration/bedtypes/print/@item.Id">
                <span class="glyphicon glyphicon-print"></span>
            </a>*@

                    <a class="btn btn-theme-color-2 btn-sm" id="btnEdit" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#content" href="/administration/budget/edit/@item.Id">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <a class="btn btn-danger btn-sm call-popup-model-delete" id="btnDelete" data-href="/administration/budget/delete/@item.Id">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>

<script>
    $(document).ready(function () {
        $('#existingBudgetGrid').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: true,
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                ],
                scrollY: '58vh',
            } );
    });
</script>
