@{
    ViewBag.Title = "Guest Portal Complaints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-group {
        margin: 0;
    }
</style>

@*<h2>Index</h2>*@


@model  IEnumerable<Scienter.HotelERP.Common.Domain.GuestPortal_Complaint>
@*@{

    if (@ViewBag.Type == "r")
    {
        ViewBag.Title = "Guest Portal Room Request";
    }
    else if (@ViewBag.Type == "l")
    {
        ViewBag.Title = "Guest Portal Laundry Pickup";
    }
}*@

@*<input type="hidden" name="text" id="type" value="@ViewBag.Type" />*@
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="title">
                            @ViewBag.Title
                            <hr class="visible-print" />
                        </h4>
                    </div>

                </div>
            </div>

            <div class="card-content" id="contentLoadingArea">
                <div id="content">

                    <div class="row">
                        <div class="col-md-4" style="position:absolute;z-index:10000;">
                            <select id="customSelect" class="custom-select form-control">
                                <option value="A">All</option>
                                <option value="R">Reservation</option>
                                <option value="I">In House</option>
                                <option value="C">Checked Out</option>
                            </select>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped fixed-header-table" id="guestPortalComplaint">
                            @*2022-10-20*@
                            <thead>
                                <tr>
                                    <th hidden></th>
                                    <th class="col-md-1 text-primary">
                                        Res / No
                                    </th>
                                    <th class="col-md-1 text-primary">
                                        Complaint
                                    </th>
                                    <th class="col-md-1 text-primary">
                                        Date
                                    </th>
                                    <th class="col-md-1 text-primary">
                                        Note
                                    </th>
                                    <th class="col-md-1 text-primary">
                                        Status
                                    </th>
                                    @*<th class="col-md-1 text-primary">

        </th>*@
                                    <th class="col-md-1 text-primary">

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr style="height: 36px !important;" data-reservation_level="@Html.DisplayFor(modelItem => item.ReservationLevel)">
                                    <th hidden></th>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReservationNo)
                                        <input type="hidden" name="text" id="reservationHeaderId" value="@item.ReservationHeaderId" />
                                        <input type="hidden" name="text" id="complaintId" value="@item.ComplaintId" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Complaint)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateFormatted)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdditionalNotes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActionName)
                                    </td>

                                        <td style="text-align:right !important;">
                                            <a class="btn btn-theme-color-2 btn-sm call-popup-model" id="activityLog" data-ActionTypeId="@item.ActionTypeId" data-id="@item.ComplaintId" data-title="Reservation Activity Log" data-href="" title="Update Status" data-toggle="modal" data-target="" data-width="500">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </a>
                                            <a class="btn btn-theme-color-2 btn-sm call-popup-model viewactivityLog" data-id="@item.ComplaintId" id="viewactivityLog" data-title="Reservation Activity Log" data-href="" title="Activity Log" data-toggle="modal" data-target="" data-width="500">
                                                <span class="glyphicon glyphicon-tags"></span>
                                            </a>
                                        </td>


                                        @*<td class="hidden-print text-right" style="text-align:right !important;">
                                <a class="btn btn-theme-color-2 btn-sm call-popup-model" id="activityLog" data-ActionTypeId="@item.ActionTypeId" data-id="@item.ComplaintId" data-title="Reservation Activity Log" data-href="" title="Activity Log" data-toggle="modal" data-target="" data-width="500">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </td>
                            <td class="hidden-print text-right" style="text-align:right !important;">
                                <a class="btn btn-theme-color-2 btn-sm call-popup-model viewactivityLog" data-id="@item.ComplaintId" id="viewactivityLog" data-title="Reservation Activity Log" data-href="" title="View Activity" data-toggle="modal" data-target="" data-width="500">
                                    <span class="glyphicon glyphicon-tags"></span>
                                </a>
                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ui/common/scienter.grid2.js"></script>

<script>

    //$(document).ready(function () {
    //    $('#hdnactionType').val($(this).attr('data-ActionTypeId'));
    //    $('#guestPortalComplaint').DataTable(
    //        {
    //            //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
    //            searching: true,
    //            ordering: true,
    //            //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    //            dom: 'Bfrtipl',
    //            select: true,
    //            buttons: [
    //                'copy',
    //                'excel',
    //                'csv',
    //                'pdf',
    //                'print'
    //            ],
    //            scrollY: '58vh',
    //        });
    //});

    var reservationLevel = $('#customSelect').val();
    $(document).ready(function () {

        var defaultReservationLevel = 'I'; 
        $('#customSelect').val(defaultReservationLevel);

        //reservationLevel = defaultReservationLevel;
        
        loadGridData()
        $('#hdnactionType').val($(this).attr('data-ActionTypeId'));
        $('#guestPortalComplaint').DataTable(
            {
                searching: true,
                ordering: true,
                dom: 'frtipl',
                select: true,
                scrollY: '58vh',
            });
    });

    $(document).off('change').on('change', '#customSelect', function () {
        reservationLevel = $('#customSelect').val();
        loadGridData();
    });

    function loadGridData() {
        var rows = $('#guestPortalComplaint tr');
        var noRecords = true;

        if (reservationLevel !== "A") {
            rows.each(function () {
                var reservationLevelTr = $(this).data('reservation_level');
                if (reservationLevel !== reservationLevelTr) {
                    $(this).hide();
                } else {
                    $(this).show();
                    noRecords = false;
                }
            });

            if (noRecords) {
                $('#guestPortalComplaint tbody').append('<tr class="no-records"><td colspan="100%" style="text-align:center;">No Records Found</td></tr>');
            } else {
                $('#guestPortalComplaint .no-records').remove();
            }
        } else {
            rows.show();
            $('#guestPortalComplaint .no-records').remove();
        }
    }

    $('body').on('click', '#activityLog', function () {
        debugger;
        var code = "C";
        $(".guestportal-action-model").modal('show');
        $('#code').val(code);
        $('#hdnreservationHeaderId').val($('#reservationHeaderId').val());
        $('#requestId').val($(this).attr('data-Id'));
        $('#hdnlabel').val("Complaint Status");
        $('#hdnactionType').val($(this).attr('data-ActionTypeId'));
        LoadActionType(code);
    });

    //$('body').on('click', '#viewactivityLog', function () {
    //    debugger;
    //    var code = "C";
    //    $(".guestportal-activitylog-model").modal('show');
    //});

    $('body').on('click', '.viewactivityLog', function (e) {
        debugger;
        var code = "C";
        var requestId = $(this).attr('data-id');
        var reservationHeaderId = $('#reservationHeaderId').val();
        var GuestPortalActivityLogURL = '/GuestPortal/Action/ActivityLog?code=' + code + '&requestId=' + requestId + '&reservationHeaderId=' + reservationHeaderId;
        var title = 'Complaint Status Activity Log ';

        //'&guestName=' + guestName + '&guestProfileId=' + GuestProfileId + '&Uuid=' + ResUuid + '';

        CallDetailModelSimple(title, GuestPortalActivityLogURL, 1000);
    });

</script>

@*<script>
    // form load --------------------------------
    $(document).ready(function () {
        debugger;
        FillGrid();
    });
    //fill grid -----------------------------------
    function FillGrid() {
        debugger;
        var gridId = "#guestPortalComplaint"; // change this - relevent grid id
        var paginations = {
            PageIndex: $(gridId).attr('data-page-index'),
            PageSize: $(gridId).attr('data-page-size'),
            FilterType: $(gridId).attr('data-filter-type'),
            SearchKeyword: $(gridId).attr('data-search-keyword')
        }
        var id = 0;
        $.ajax({
            url: '/GuestPortal/Complaint/Select_ForGrid',
            dataType: 'html',
            //data: paginations,
            data: {id:id},
            method: 'POST',
            success: function (response) {
                if ($('.grid-container').length > 0) {
                    $('#contentLoadingArea #content').find($('.grid-container')).html('').fadeOut();
                    $('#contentLoadingArea #content').find($('.grid-container')).html(response).fadeIn();
                } else {
                    $('#contentLoadingArea #content').html('').fadeOut();
                    $('#contentLoadingArea #content').html(response).fadeIn();
                }
            }

        });
    }

</script>*@






