@model IEnumerable<Scienter.HotelERP.Common.Domain.ViewModels.CurrencyEncashmentViewModel>


<table id="CurrencyEncashmentTable" class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CurrencyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
      


        <th class="col-md-1 hidden-print"></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CurrencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
        
            <td class="hidden-print text-right"></td>
        </tr>
    }

</table>
