@model IEnumerable<Scienter.HotelERP.Common.Domain.ViewModels.ReservationHeaderView>
@*existingInduvidualReservationGrid*@
@{
    ViewBag.Title = "Reservation List";
}

<input type="hidden" value="@ViewBag.GroupResNo" name="" id="gresNo_Attach" />
<input type="hidden" value="@ViewBag.ResNo" name="" id="resNo_Attach" />
<input type="hidden" value="@ViewBag.ReservationHeaderId" name="" id="res_Header_Attach" />
<input type="hidden" id="hidden-Uuid" value="@ViewBag.Uuid" />

<input type="hidden" name="NewResUuid" value="" />

<div class="row">
    <div class="input-group col-md-12">
        <div class="col-md-8">
            <input type="text" id="searchKeyWord" class="form-control" placeholder="Search By KeayWord">
        </div>
        <div class="col-md-4" style="margin-left: -30px;margin-top: 24px;">
            <button class="btn btn-primary btn-SearchKeyWord" type="button">Search</button>
        </div>
    </div>

</div>


<div class="">
    <table class="table font-size-12px" id="existingInduvidualReservationGrid">
        <thead>
            <tr>
                <th class="text-primary ">
                    Arrival
                </th>
                <th class="text-primary ">
                    Departure
                </th>
                <th class="text-primary ">
                    Res.#
                </th>
                <th class="text-primary">
                    Guest
                </th>
                <th class="text-primary">
                    Company
                </th>
                @*<th class="text-primary " style="text-align:center;">
                    Voucher#
                </th>

                <th class="text-primary">
                    Cat.
                </th>
                <th class="text-primary ">
                    Type
                </th>
                <th class="text-primary ">
                    Room
                </th>*@
                <th class="text-primary ">
                    Group#
                </th>
                <th class="text-primary col-md-1" style="text-align:center;">
                    Status
                </th>
                @*<th class="text-primary">
                        <span class="glyphicon glyphicon-wrench " style="font-size:15px;" data-toggle="tooltip" title="Traces"></span>
                        Traces
                    </th>
                    <th class="text-primary">
                        <span class="glyphicon glyphicon-bell " style="font-size:15px;" data-toggle="tooltip" title="Alerts"></span>
                        Alert
                    </th>
                    <th class="text-primary">
                        <span class="glyphicon glyphicon-plane " style="font-size:15px;" data-toggle="tooltip" title="Transport"></span>
                        Transport
                    </th>*@
                @*<th style="width:60px;">
                    </th>*@
                <th style="width:30px;">
                </th>
                <th class="hidden"></th>
            </tr>
        </thead>

        <tbody class="all-transaction">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="arrival-date">
                        @item.ArrivalDate
                    </td>

                    <td class="depature-date">
                        @item.DepartureDate
                    </td>

                    <td class="res-no">
                        @item.ResNo
                    </td>

                    <td class="guest-name">
                        @item.GuestName
                    </td>

                    <td>
                        @item.AgentName
                    </td>
                    @*<td style="text-align:center;">
                        @item.VoucherNo
                    </td>
                    <td>
                        @item.RoomCat
                    </td>
                    <td>
                        @for (int i = 0; i < item.MaxHeadCount; i++)
                        {
                            <span class="glyphicon glyphicon-user display-inline font-size-18" data-toggle="tooltip"></span>
                        }
                        <span class="hidden">@item.RoomType</span>
                    </td>
                    <td>
                        @item.RoomNo
                    </td>*@

                    <td class="group-res-no">
                        @item.GResNo
                    </td>

                    <td style="text-align:center;">
                        @item.ReservationStatus
                    </td>

                    @*<td style="text-align:left;">

                            @if (item.HasAlert == 1)
                            {
                                <span class="glyphicon glyphicon-bell " style="color:#555; font-size:15px;" data-toggle="tooltip" title="Alert"></span>
                            }

                            else
                            {
                                <span class="glyphicon glyphicon-bell" style="color:#F2F2F2; font-size:15px;" data-toggle="tooltip" title="Alert"></span>
                            }

                            @if (item.HasTravel == 1)
                            {
                                <span class="fa fa-taxi" style="color:#555; font-size:15px;" data-toggle="tooltip" title="Transport"></span>
                            }
                            else
                            {
                                <span class="fa fa-taxi" style="color:#F2F2F2; font-size:15px;" data-toggle="tooltip" title="Transport"></span>
                            }

                            @if (item.HasTraces == 1)
                            {
                                <span class="fa fa-check" style="color:#555; font-size:15px;" data-toggle="tooltip" title="Traces"></span>
                            }

                            else
                            {
                                <span class="fa fa-check" style="color:#F2F2F2; font-size:15px;" data-toggle="tooltip" title="Traces"></span>
                            }

                        </td>*@

                    <td>
                        <div class="form-group checkbox">
                            <label>
                                <input type="checkbox" class="data-reservation-no" guestId="@item.GuestProfileId" guestName="@item.GuestName" group-resNo="@item.GResNo" arrival-date=@item.Arrival departure-date="@item.Departure" room-id="@item.RoomId" room-code="@item.RoomNo" resNo="@item.ResNo" value="@item.Id" res-Uuid="@item.ResUuid" />
                            </label>
                        </div>
                    </td>
                    <td class="hidden">
                        Active
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <button style="width:180px; background-color:#6f195b !important" class="attchToGroupBtn dt-button buttons-html5 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">

        <span class="glyphicon glyphicon-import"></span>
        <span class="disabled" id="filteringMenuText"> ATTACH TO GROUP</span>

    </button>
</div>

<script>
    $(document).ready(function () {
        //var dtTable = $('#existingInduvidualReservationGrid').DataTable(
        //    {
        ////        //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
        ////        searching: true,
        ////        ordering: true,
        ////        "lengthMenu": [[14, 10, 25, 50, -1], [15, 10, 25, 50, "All"]],
        ////        dom: 'Bfrtipl',
        ////        select: true,
        ////        buttons: [
        ////            //'copy',
        ////            //'excel'
        ////            //,'csv',
        ////            //'pdf',
        ////            //'print'
        ////        ],
        ////        scrollY: '55vh',
        ////        //scrollCollapse: false
        //     });

        //AlignTableHeaders();

        //setTimeout(function () {
        //    $('#existingInduvidualReservationGrid_wrapper').find($('.showForm')).remove();
        //    $('').appendTo($('#existingInduvidualReservationGrid_wrapper').find('.dt-buttons'));
        //    dtTable.columns.adjust().draw();
        //}, 2000);

    });

    $('body').off('click', '#existingInduvidualReservationGrid_wrapper tr').on('click', '#existingInduvidualReservationGrid_wrapper tr', function () {
        if ($(this).find('input.data-reservation-no').prop('checked')) {
            $(this).find('input.data-reservation-no').prop('checked', false);
        } else {
            $(this).find('input.data-reservation-no').prop('checked', true);
        }
        $('#existingInduvidualReservationGrid_wrapper tr').not(this).find('input.data-reservation-no').prop('checked', false);
        $('#existingInduvidualReservationGrid_wrapper tr').not(this).closest('tr').removeClass('selectdRecord');
        $(this).addClass('selectdRecord');
    });

    $('body').off('click', '.attchToGroupBtn').on('click', '.attchToGroupBtn', function () {
        debugger;
        if ($('#existingInduvidualReservationGrid tr').find('input.data-reservation-no:checked').length > 0) {

            var ResheaderIdAttach = $('#existingInduvidualReservationGrid tr').find('input.data-reservation-no:checked').val();
            var ResheaderIdList = $('#res_Header_Attach').val();
            var GroupResNo = $('#gresNo_Attach').val();
            $.ajax({
                url: '/Reservation/Reservations/AttachToGroupSave?AttachListHeaderId=' + ResheaderIdAttach + '&ReservationListHeaderId=' + ResheaderIdList + '&GroupNoToAttach=' + GroupResNo,
                dataType: 'json',
                method: 'POST',
                success: function (response) {
                    var Type = $('#resType').val();
                    $('#grid-detail-popup-container').hide();
                    ShowSuccessMessage('Attach Success.');
                    $('.success-popup-ok, .error-popup-ok').closest('.modal').on('hide.bs.modal', function (e) {
                        
                    })

                    setTimeout(function () {
                        if (Type == "reservation") {
                            ////Update Uuid
                            //window.location.href = "/reservation/reservations/list/" + $('#hidden-Uuid').val();
                            //console.log("Uuid");
                            location.reload()
                        } else {
                            //location.reload()
                            LoadInhouseReservationGrid();
                        }
                    }, 2500);

                },
                error: function (error) {
                    ShowErrorMessage('There is an error.');
                },
                complete: function () {
                }
            });
        } else {
            ShowWarningMessage('Please select an reservation to attach.');
        }
    });

    $('.success-popup-ok model-popup-close-btn').click(function () {
        alert('gg')
    });

    //Search by ganguli
    $('body').off('click', '.btn-SearchKeyWord').on('click', '.btn-SearchKeyWord', function () {
        debugger;

        setTimeout(function () {
            LoadGrid();
        }, 2000);

    });

    $('body').off('change', '#searchKeyWord').on('change', '#searchKeyWord', function () {
        debugger;
        if (($('#searchKeyWord').val()).length == 0) {
            $('.all-transaction tr').add();
        }

    });

    //Table load by ganguli
    function LoadGrid() {
        debugger;
        let searchKeyWord = $('#searchKeyWord').val();
        $.ajax({
            url: '/Reservation/Reservations/AttachToGroup_SearchReservation',
            method: 'POST',
            data: { SearchKeyWord: searchKeyWord },
            beforeSend: function () {
                debugger;
                $('.all-transaction tr').remove();
                // $('#imgLoadingPot').show();
            },
            success: function (response) {
                debugger;
                console.log(response);
                $(response).each(function (index, item) {
                    $('<tr class="data-row">' +
                        '<td class="arrival-date">' + item.ArrivalDate + '</td>' +
                        '<td class="depature-date">' + item.DepartureDate + '</td>' +
                        '<td class= "res-no">' + item.ResNo + '</td>' +
                        '<td class="guest-name">' + item.GuestName + '</td>' +
                        '<td>' + item.AgentName + '</td>' +
                        '<td class="group-res-no">' + item.GResNo + '</td>' +
                        '<td style="text-align:center;">' + item.ReservationStatus + '</td>' +
                        '<td>' +
                        '<div class="form-group checkbox">' +
                        '<label>' +
                        '<input type="checkbox" class="data-reservation-no" guestId="' + item.GuestProfileId + '" guestName="' + item.GuestName + '" group-resNo="item.GResNo" arrival-date="' + item.Arrival + '" departure-date="' + item.Departure + '" room-id="' + item.RoomId + '" room-code="' + item.RoomNo + '" resNo="' + item.ResNo + '" value="' + item.Id + '" res-Uuid="' + item.ResUuid + '" />' +
                        '</label>' +
                        '</div>' +
                        '</td>' +
                        '<td class="hidden">Active</td>' +
                        '</tr>').appendTo('#existingInduvidualReservationGrid');
                });
            },
            error: function () {
                alert('There is an Error...Can not load table');
            },
            complete: function () {
                //$('#imgLoadingPot').hide();
            }
        });
    }
</script>

