@model Scienter.HotelERP.Common.Domain.ViewModels.RoomsAndFloorsView

<style>
    h3 {
        font-weight: bold;
    }

    .custom-top-padding {
        padding-top: 5px;
    }

    .well {
        font-size: 12px;
    }

    .override-from-group-margin {
        margin-top: 0px;
    }

    .colorBox {
        height: 12px;
        width: 12px;
    }

    .box1 {
        background-color: #FE0101;
    }

    .box2 {
        background-color: #038959;
    }

    .box3 {
        background-color: #ff9800;
    }

    .row-height {
        padding-top: 5px;
        height: 25px;
    }

    .well-height {
        padding-top: 10px;
        height: 142px;
    }

    .col-padding-overide {
        padding: 1px !important;
    }

    .room-number-height {
        height: 50px;
    }

    .content-align-center {
        text-align: center;
    }

    .allocatedWellColor {
        border: solid 1px black;
        background-color: #e74c3c;
    }

        .allocatedWellColor h2 {
            color: white;
        }

        .allocatedWellColor .deallocate-button {
            background-color: #34495e;
            padding-left: 7px;
        }

            .allocatedWellColor .deallocate-button:hover {
                background-color: #798a9a;
                padding-left: 7px;
            }

    .list-group-style {
        height: 480px;
    }

    .reservedWellColor {
        background-color: #ffdd59;
        border-color: #999999
    }

    .reservedWellColor .reservedButton {
        background-color: #999999;
        color: #000000;
        font-weight: bold;
        font-size: 13px
    }

    .outOfOrderWellColor {
        background-color: #e58e26;
        border-color: #e58e26;
    }

    .outOfOrderButton {
        background-color: #b71540;
        color: #ffffff;
        font-weight: bold;
        font-size: 13px
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <div class="row panel panel-default">
                    <div class="col-md-12 list-group list-group-style panel-body div-scroll">
                        <div class="col-md-12">
                            <div class="row">
                                <ul id="datesUL">
                                    <li>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="floor-name-check-all" value="" />All
                                            </label>
                                        </div>
                                    </li>
                                    <hr />

                                    <label class="control-label"> Filteration </label>
                                    @foreach (var item in Model.Floors)
                                    {
                                        <li>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="floor-name-check" value="@item.RoomNameFormattedforClass" />@item.Name
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row rooms-container">
                    @foreach (var item in Model.RoomDetails.OrderBy(x => x.Id))
                    {
                        if (item.Remark == "Same")
                        {
                            string wellColor = "",
                                buttonText = "",
                                buttonClass = "",
                                disabled = "",
                                btnType = "";

                            if (item.IsOutOfOrder)
                            {
                                wellColor = "outOfOrderWellColor";
                                buttonText = "OOO";
                                buttonClass = "outOfOrderButton";
                                disabled = "disabled";
                            }
                            else if (item.IsAllocatedForReservation)
                            {
                                wellColor = "allocatedWellColor";
                                buttonText = "DE-ALLOCATE";
                                buttonClass = "deallocate-button";
                                btnType = "btn-danger";
                            }
                            else if (item.IsAllocatedForOtherReservation)
                            {
                                wellColor = "reservedWellColor";
                                buttonText = "RESERVED";
                                buttonClass = "reservedButton";
                                disabled = "disabled";
                                btnType = "btn-danger";
                            }
                            else
                            {
                                btnType = "btn-primary";
                                buttonText = "ALLOCATE";
                                buttonClass = "allocate-button";
                            }

                            <div class="col-md-2  @item.RoomFloorNameFormatted">
                                <div class="well well-height override-well @wellColor">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12 content-align-center">
                                                    <h5 class="room-number"><strong>@item.Name</strong></h5>
                                                    <p style="height:30px;">@item.RoomCatagoryName / @item.RoomTypeName</p>
                                                </div>
                                            </div>
                                            <input type="hidden" class="hidden-roomId" id="hidden-roomId" value="@item.Id" />
                                            <input type="hidden" class="isAllocatedforReservation" id="isAllocatedforThisReservation" value="@item.IsAllocatedForReservation.ToString()" />
                                            <input type="hidden" class="isAllocatedforOtherReservation" id="isAllocatedforOtherReservation" value="@item.IsAllocatedForOtherReservation.ToString()" />
                                        </div>
                                        <div class="col-md-12 custom-top-padding content-align-center">
                                        </div>
                                        <div class="col-md-12 content-align-center">
                                            <div class="form-group checkbox override-from-group-margin custom-top-padding">
                                                <a class="btn btn-sm @btnType @disabled full-width-100perc same-cat @buttonClass" id="popup-for-room-allocation-@item.Id" name="popup-for-room-allocation-@item.Id">@buttonText</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <hr />
                <label>Other Categories</label>
                <div class="row rooms-container">


                    @foreach (var item in Model.RoomDetails.OrderBy(x => x.RoomCode))
                    {
                        if (item.Remark == "Other")
                        {

                            string wellColor = "",
                                buttonText = "ALLOCATE",
                                buttonClass = "allocate-button",
                                disabled = "disabled",
                                btnType = "";

                            if (item.IsOutOfOrder)
                            {
                                wellColor = "outOfOrderWellColor";
                                buttonText = "OOO";
                                buttonClass = "outOfOrderButton";
                                disabled = "disabled";
                            }
                            else if (item.IsAllocatedForOtherReservation)
                            {
                                wellColor = "reservedWellColor";
                                buttonText = "RESERVED";
                                buttonClass = "reservedButton";
                                disabled = "disabled";
                                btnType = "btn-danger";
                            }
                            else
                            {
                                btnType = "btn-primary";
                            }

                            <div class="col-md-2  @item.RoomFloorNameFormatted">
                                <div class="well well-height override-well @wellColor">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12 content-align-center">
                                                    <h5 class="room-number"><strong>@item.Name</strong></h5>
                                                    <p style="height:30px;">@item.RoomCatagoryName / @item.RoomTypeName</p>
                                                </div>
                                            </div>
                                            <input type="hidden" class="hidden-roomId" id="hidden-roomId" value="@item.Id" />
                                            <input type="hidden" class="isAllocatedforReservation" id="isAllocatedforThisReservation" value="@item.IsAllocatedForReservation.ToString()" />
                                            <input type="hidden" class="isAllocatedforOtherReservation" id="isAllocatedforOtherReservation" value="@item.IsAllocatedForOtherReservation.ToString()" />
                                        </div>
                                        <div class="col-md-12 custom-top-padding content-align-center">
                                        </div>
                                        <div class="col-md-12 content-align-center">
                                            <div class="form-group checkbox override-from-group-margin custom-top-padding">
                                                <a class="btn btn-sm @btnType @disabled full-width-100perc @buttonClass" 
                                                   id="popup-for-room-allocation-@item.Id" name="popup-for-room-allocation-@item.Id">@buttonText</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script>

        $('body').on('click', '.deallocate-button, .allocate-button', function () {
            if ($(this).hasClass('deallocate-button')) {
                $.ajax({
                    method: 'post',
                    url: '/Reservation/Reservations/RoomWisePopUp?RoomId=' + $(this).closest('.well').find('.hidden-roomId').val() + '&IsAllocatedForReservation=true',
                    datatype: 'html',
                    success: function (data) {
                        $('#contentLoadingAreaRooms').addClass('hide').fadeOut();
                        $('#contentLoadingAreaForRoomWisePopUp').html(data).removeClass('hide').fadeIn();
                    },
                })
            } else if ($(this).hasClass('allocate-button')) {
                $.ajax({
                    method: 'post',
                    url: '/Reservation/Reservations/RoomWisePopUp?RoomId=' + $(this).closest('.well').find('.hidden-roomId').val() + '&IsAllocatedForReservation=false',
                    datatype: 'html',
                    success: function (data) {
                        $('#contentLoadingAreaRooms').addClass('hide').fadeOut();
                        $('#contentLoadingAreaForRoomWisePopUp').html(data).removeClass('hide').fadeIn();
                    },
                })
            }
        })

        $(function () {
            if ($('input[value=True].isAllocatedforReservation').length > 0) {
                $('.allocate-button.same-cat').addClass('disabled');
            } else if ($('input[value=True].isAllocatedforReservation').length = 0) {
                $('.allocate-button.same-cat').removeClass('disabled');
            }

            $('.floor-name-check-all').prop('checked', true);
        });

        $('.floor-name-check-all').change(function () {
            if ($(this).is(':checked')) {
                $('.floor-name-check').prop('checked', true);
            } else {
                $('.floor-name-check').prop('checked', false);
            }
        });
    </script>
