@using  Scienter.HotelERP.Common.Domain
@model   List<ReservationSideButtons> 

<style>

    .panel-default {
        border: none;
    }

    .panel-body-padding {
        padding-top: 0px !important;
    }

    #reservationGrid {
        margin-top: -20px;
    }

    .searchDate .form-group {
        margin: 0px;
        padding-bottom: 0px;
    }
    /*.highlight {
        background-color: red;
    }*/
    .listLoadingArea td {
        padding: 0px 4px !important;
    }

    .listLoadingArea .glyphicon-bell, .listLoadingArea .fa-taxi {
        padding-left: 5px !important;
    }

    .highlight {
        background-color: darkseagreen !important;
    }

    .listLoadingArea {
        min-height: 430px;
    }

    #pageNoLine {
        text-align: right;
    }

    .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        font-size: 11px;
    }

    .current-page-no {
        margin-right: 20px;
        font-weight: bold;
    }

    .listLoadingArea th {
        padding: 4px 4px !important;
    }

    .data-page-no-btn {
        border: 1px solid #b0b0b0 !important;
        margin-left: 3px !important;
    }

        .data-page-no-btn:hover {
            background-color: #b45b23 !important;
        }

    .listLoadingArea tr:nth-child(even) {
        background-color: #e9e9e9;
    }

    .searchPara {
        width: 100%;
        border: 1px solid #ccc;
    }

    .scroll-content ::-webkit-scrollbar {
        width: 8px;
    }

    .scroll-content ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scroll-content ::-webkit-scrollbar-thumb {
        background: #888;
    }

    .reservation-filter-area .checkbox label, .radio label, label {
        font-size: 10px;
        line-height: 12px;
        color: #000000;
        font-weight: 400;
    }

    .reservation-filter-area .form-group {
        padding-bottom: 10px;
        margin: 10px 0 0 0;
    }

        .reservation-filter-area .form-group .form-control {
            margin-top: -46px;
            font-size: 12px;
        }

        .reservation-filter-area .form-group input {
            padding-top: 23px;
        }

    .input-group .input-group-addon {
        vertical-align: top;
        padding-top: 0;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <div class="row">
                    <div class="col-md-11">
                        <h4 class="title">
                            @ViewBag.Title (@ViewBag.CurrentHistory.ToUpper())
                            <hr class="visible-print" />
                        </h4>
                    </div>

                    @*<div class="col-md-1"></div>*@

                    <div class="col-md-1 text-right hidden-print">   
                        
                        <a class="btn btn-sm btn-theme-color-2" href="~/reservation/reservations/makereservation">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a class="btn btn-sm  btn-theme-color-2" href="~/reservation/reservations/list">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-content" id="contentLoadingArea" style="padding-left:15px; padding-right:15px;">

                <div class="row hidden-on-checkout reservation-filter-area">
                    <div class="col-md-12">
                        <div style="padding:10px; padding-bottom:3px; padding-top:6px; margin-bottom:10px; margin-top:-10px; background-color:#f2f2f2; border:1px solid #c3c3c3; border-radius:2px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>Res. Status</label>   
                                            <select id="reservationStatus-list" style="margin-top:-29px; font-size:12px; line-height: 36px;" name="" class="form-control">
                                                <option value="-1" selected>All-Without-Cancel</option>
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                        <div class="col-md-7">
                                            <label>Search</label>
                                            <input class="txtSearch form-control" style="margin-top:-29px; font-size:12px;" type="text" id="searchby" placeholder="" title="Search by any Column">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">                                   
                                        <div class="col-md-2">
                                            <label>Sort By</label>
                                            <select id="SortColumn-list" style="margin-top:-29px; font-size:12px; line-height: 36px;" name="" class="form-control"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <label></label>
                                            <select id="SortType-list" style="margin-top:-29px; font-size:12px; line-height: 36px;" name="" class="form-control">
                                                <option value="ASC">A-Z</option>
                                                <option value="DESC">Z-A</option>
                                            </select>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" id="filerReservationCalender">                                               
                                                <div class="col-md-5 searchDate">
                                                    <label>From</label>
                                                    <div id="" class="input-group ">
                                                        <input autocomplete="off" class="form-control text-box single-line" maxlength="100" name="DateFilterFromReservation" id="DateFilterFromReservation" type="text">
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>

                                         
                                                <div class="col-md-5 searchDate">
                                                    <label>To</label>
                                                    <div id="" class="input-group ">
                                                        <input autocomplete="off" class="form-control text-box single-line" maxlength="100" name="DateFilterToReservation" id="DateFilterToReservation" type="text">
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" style="width:100%; background-color:#b45b23" class="applyBtn btn btn-default btn-sm">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                               
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="col-md-12" id="reservationGrid">

                        <center id="loading-pot" style="margin:0px auto;width:100px;">
                            <img src="~/Images/loading_pot.gif" style="width:100px; margin: 0 auto; margin-top:100px;" />
                        </center>

                        <div class="listLoadingArea" id="content" style="padding-top:15px;">
                            @if (ViewBag.type == "checkout")
                            {
                                <script>
                                    $('.hidden-on-checkout').hide();
                                </script>
                                <div class="">
                                    <div class="row">
                                        <div class="col-md-12 " id="main-grid-content">
                                            <div class="table-responsive">
                                                <table class="table font-size-12px" id="existingReservationGrid">
                                                    <tr>
                                                        <th class="text-primary"></th>
                                                        <th class="text-primary"> </th>
                                                        <th class="text-primary">Arrival</th>
                                                        <th class="text-primary"> Departure </th>
                                                        <th class="text-primary"> Group# </th>
                                                        <th class="text-primary col-md-1">Res#</th>
                                                        <th class="text-primary">Guest</th>
                                                        <th class="text-primary">Company </th>
                                                        <th class="text-primary">Vouch# </th>
                                                        <th class="text-primary col-md-1">Category </th>
                                                        <th class="text-primary">Room Type</th>
                                                        <th class="text-primary" width="60px">A.#</th>
                                                        <th class="text-primary">K.#</th>
                                                        <th class="text-primary col-md-1">Room#</th>
                                                        @*<th class="text-primary col-md-1">Credit Enable</th>*@
                                                        <th class="text-primary col-md-1">Status</th>
                                                        <th class="text-primary hidden">Res. Status </th>
                                                        <th></th>
                                                        <th></th>
                                                        <th class="text-primary"></th>
                                                        <th class="hidden"></th>
                                                        <th class="hidden"></th>
                                                    </tr>
                                                    @*second row*@
                                                    <tr>
                                                        <th class="text-primary"></th>
                                                        <th class="text-primary"></th>
                                                        <th class="text-primary"><input type="text" class="searchPara" id="searchArrival" size="5"> </th>

                                                        <th class="text-primary"><input type="text" class="searchPara" id="searchDeparture" size="5"> </th>
                                                        <th class="text-primary"><input type="text" class="searchPara" id="searchGroupNo" size="5"> </th>
                                                        <th class="text-primary col-md-1"><input type="text" class="searchPara" id="searchResNo" size="5"></th>
                                                        <th class="text-primary"><input type="text" class="searchPara" id="searchGuest" size="5"></th>
                                                        <th class="text-primary"><input type="text" class="searchPara" id="searchCompany" size="5"></th>
                                                        <th class="text-primary"><input type="text" class="searchPara" id="searchVouchNo" size="5"></th>
                                                        <th class="text-primary col-md-1"><input type="text" class="searchPara" id="searchCategory" size="5"></th>
                                                        <th class="text-primary"><input type="text" class="searchPara" id="searchRoomType" size="5"></th>
                                                        <th class="text-primary" width="60px"><input type="text" class="searchPara" id="searchANo" size="5"></th>
                                                        <th class="text-primary"><input type="text" class="searchPara" id="searchKNo" size="5"></th>
                                                        <th class="text-primary col-md-1"><input type="text" class="searchPara" id="searchRoomNo" size="5"></th>
                                                        @*<th class="text-primary col-md-1"><input type="text" class="searchPara" id="searchIsCreditEnable" size="5"></th>*@
                                                        <th class="text-primary col-md-1"><input type="text" class="searchPara" id="searchStatus" size="5"></th>
                                                        <th class="text-primary hidden">Res. Status</th>
                                                        <th colspan="4"><button type="button" style="width:100%; background-color:#b45b23" class="searchBtn btn btn-default btn-sm">Search</button></th>

                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="pageNoLine">
                            
                        </div>
                    </div>
                    <div class="scroll-content">
                        <div class="col-md-2" id="reservationOptions" style="overflow-y:auto; overflow-x:hidden; display: none; position: fixed;z-index: 53;background-color: #ffffff; right: 30px;top: 58px;padding: 30px;padding-top: 15px;padding-right: 17px;padding-bottom: -7px;padding-bottom: 5px;box-shadow: 0px 1px 10px 0px #838383;width:235px; ">
                            @Html.Partial("_SideButtons", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    DateTime hotelDate = Scienter.HotelERP.Common.Domain.SessionObjects.FOSettings.CurrentDate;
}
<input type="hidden" id="From" name="From" value="@hotelDate.ToString("yyyy-MM-dd")" />
<input type="hidden" id="To" name="To" value="@hotelDate.AddDays(30).ToString("yyyy-MM-dd")" />

<input type="hidden" id="defaultToDate" value="@hotelDate.AddDays(60).ToString("dd/MM/yyyy")" />
<input type="hidden" id="defaultFromDate" value="@hotelDate.AddDays(0).ToString("dd/MM/yyyy")" />

<input type="hidden" id="defaultToDateCheckout" value="@hotelDate.AddDays(-60).ToString("dd/MM/yyyy")" />
<input type="hidden" id="defaultFromDateCheckout" value="@hotelDate.AddDays(0).ToString("dd/MM/yyyy")" />

<input type="hidden" id="arrivalDate" />
<input type="hidden" id="departureDate" />

<input type="hidden" value="@HttpContext.Current.Session["ResNo"].ToString()" id="resNo" />

<input type="hidden" id="type" value="@ViewBag.type" />
<input type="hidden" id="CurrentHistory" value="@ViewBag.CurrentHistory" />
<input type="hidden" id="reservation-uuid" value="@ViewBag.Uuid" />

<input type="hidden" id="hdn-index" value="1" />
<input type="hidden" id="hdn-noOfPages" value="0" />
@*<script src="~/Scripts/ui/common/scienter.grid2.js"></script>*@
<script src="~/Scripts/ui/common/Scienter.Common.TimeFormat.js"></script>
<script>
    // form load --------------------------------
    var resNo = $('#resNo').val();
    var ReservationHeaders = "";
    var InhouseReservationHeaders = "";
    var CheckedOutReservationHeaders = "";
    var gridId = "#existingReservationGrid";
    var reservationStatus = 3;
    var searchValue = "";
    var windowHeight = $(window).height();

    var contentHeight = $('#content').height();

    var SortType = "";
    var SortColumn = "";

    $(document).ready(function () {
        LoadReservationstatus();
        LoadSortingColumnList();

        if (windowHeight > 661) {
            $('#reservationOptions').css('right', '40px')
            $('#reservationOptions').height(windowHeight - 156);
            $('.card').css('min-height',(windowHeight - 116));

        }
        else {
            $('#reservationOptions').height(windowHeight - 120);
            $('.card').css('min-height', (windowHeight - 80));
        }


        searchValue = GetParameterValuesForReservationList('search');
        $('#searchby').val(searchValue);

        if ($('#type').val() == "inhouse") {
         //   $('#filerReservationCalender').hide();
            $('.searchDate').hide();
            $('.searchDateLabel').hide();
        }

        $('#DateFilterFromReservation').daterangepicker({
            "showDropdowns": true,
            singleDatePicker: true,
            "showWeekNumbers": true,
            "showISOWeekNumbers": true,
            "opens": "right",
            "applyClass": "btn-primary",
            locale: {
                format: 'DD/MM/YYYY'
            }
        }, function (start, end, label) {
            $('input[name="From"]').val(start.format('DD/MM/YYYY'));
        });

        $('#DateFilterToReservation').daterangepicker({
            "showDropdowns": true,
            singleDatePicker: true,
            "showWeekNumbers": true,
            "showISOWeekNumbers": true,
            "opens": "right",
            "applyClass": "btn-primary",
            locale: {
                format: 'DD/MM/YYYY'
            }
        }, function (start, end, label) {
            $('input[name="To"]').val(end.format('DD/MM/YYYY'));
        });

        //ScorelToTop60px();
        if ($('#type').val() == "reservation") {

            $('#DateFilterFromReservation').val($('#defaultFromDate').val());
            $('#DateFilterToReservation').val($('#defaultToDate').val());

            $('#DateFilterFromReservation').daterangepicker({
               // "minDate": $('#hotelCurrentDate').val(),
                singleDatePicker: true, locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('#DateFilterToReservation').daterangepicker({
               // "minDate": $('#hotelCurrentDate').val(),
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

        }

        if ($('#CurrentHistory').val() == "history") {
            $('#DateFilterFromReservation').val($('#defaultFromDate').val());
            $('#DateFilterToReservation').val($('#defaultToDate').val());

            $('#DateFilterFromReservation').daterangepicker({
              //  "minDate": $('#hotelCurrentDate').val(),
                singleDatePicker: true, locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('#DateFilterToReservation').daterangepicker({
              //  "minDate": $('#hotelCurrentDate').val(),
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });
        }

        if ($('#type').val() == "checkout") {

            $('#DateFilterToReservation').val($('#defaultFromDateCheckout').val());
            $('#DateFilterFromReservation').val($('#defaultToDateCheckout').val());

            $('#DateFilterFromReservation').daterangepicker({
                // "maxDate": $('#hotelCurrentDate').val(),
                singleDatePicker: true, locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('#DateFilterToReservation').daterangepicker({
                "maxDate": $('#hotelCurrentDate').val(),
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });
        }
        var fromDt = $('#DateFilterFromReservation').val();
        var toDt = $('#DateFilterToReservation').val();
        $('#From').val(ChangeDateFormat(fromDt));
        $('#To').val(ChangeDateFormat(toDt));

        //var paginations = {
        //    //PageIndex: 1,
        //    PageSize: 10,
        //    PageIndex: $(gridId).closest('.grid-container').attr('data-page-index'),
        //   // PageSize: $(gridId).closest('.grid-container').attr('data-page-size'),
        //    FilterType: $(gridId).closest('.grid-container').attr('data-filter-type'),
        //    SearchKeyword: $(gridId).closest('.grid-container').attr('data-search-keyword'),
        //    CurrentHistory: $('#CurrentHistory').val(),
        //    tempValue: $('#reservation-uuid').val(),
        //    FromDate: $('#From').val(),
        //    ToDate: $('#To').val()
        //}
        //FillGrid(paginations);
        var paginations = Paginations(1);
        $('.searchPara').val('');

          FillGrid(paginations);



    });

    function LoadReservationstatus() {
        var URL = "/Administration/ReservationStatus/ReservationStatusJson";
        $.ajax({
            url: URL,
            dataType: 'json',
            method: 'POST',
            beforeSend: function () {
                 //$('#reservationStatus-list option').remove();
            },
            success: function (data) {
                $(data).each(function (index, item) {
                    //var selected = "";
                    //if (item.Id == 3) {
                    //    selected = "selected";
                    //}
                    //$('<option value="' + item.Id + '" ' +selected+' >' + item.Name + '</optoin>').appendTo($('#reservationStatus-list'));
                    
                    $('<option value="' + item.Id + '">' + item.Name + '</optoin>').appendTo($('#reservationStatus-list'));
                });
            },
           
        });
    }

    function LoadSortingColumnList() {
        var URL = "/Reservation/Reservations/ReservationSortingColumnListSelect";
        $.ajax({
            url: URL,
            dataType: 'json',
            method: 'POST',
            beforeSend: function () {
            },
            success: function (data) {
                $(data).each(function (index, item) {
                    $('<option value="' + item.Value + '">' + item.Label + '</optoin>').appendTo($('#SortColumn-list'));
                });
            },

        });
    }

    //window.addEventListener('scroll', (event) => {
    //    console.log('Scrolling...');
    //});

    var lastStrokeDate = new Date();
    var isOkayToCallSearch = false;
    $('body').on('keyup', '.txtSearch', function (e) {
        lastStrokeDate = new Date();
        isOkayToCallSearch = true;

        setInterval(function () {
            var diff = new Date(new Date() - lastStrokeDate);
            if (diff > 2000) {

                if (isOkayToCallSearch) {
                    $('.txtSearch').attr('disabled',true);
                    var fromDt = $('#DateFilterFromReservation').val();
                    var toDt = $('#DateFilterToReservation').val();
                    $('#From').val(ChangeDateFormat(fromDt));
                    $('#To').val(ChangeDateFormat(toDt));

                    var paginations = Paginations(1);
                    FillGrid(paginations);

                    isOkayToCallSearch = false;

                }
            }
        }, 1000);


    });

    $('.txtSearch').keypress(function (e) {
        var key = e.which;
        if (key == 13)  // 13 is the key code for enter key
        {
            $('.txtSearch').attr('disabled', true);
            var fromDt = $('#DateFilterFromReservation').val();
            var toDt = $('#DateFilterToReservation').val();
            $('#From').val(ChangeDateFormat(fromDt));
            $('#To').val(ChangeDateFormat(toDt));

            var paginations = Paginations(1);
            FillGrid(paginations);
        }
    });

    $('body').on('change', '#reservationStatus-list', function (e) {
        var fromDt = $('#DateFilterFromReservation').val();
        var toDt = $('#DateFilterToReservation').val();
        $('#From').val(ChangeDateFormat(fromDt));
        $('#To').val(ChangeDateFormat(toDt));

        var paginations = Paginations(1);
        FillGrid(paginations);
    });

    $('body').on('click', '.applyBtn', function (e) {
      
        var fromDt = $('#DateFilterFromReservation').val();
        var toDt = $('#DateFilterToReservation').val();
        $('#From').val(ChangeDateFormat(fromDt));
        $('#To').val(ChangeDateFormat(toDt));

        var paginations = Paginations(1);
        FillGrid(paginations);
    });

    //$('body').on('click', '.apply-btn-search', function (e) {
    //    alert('aa');
    //    var fromDt = $('#DateFilterFromReservation').val();
    //    var toDt = $('#DateFilterToReservation').val();
    //    $('#From').val(ChangeDateFormat(fromDt));
    //    $('#To').val(ChangeDateFormat(toDt));

    //    var paginations = Paginations(1);
    //    FillGrid(paginations);
    //});

    function Paginations(pageIndex) {
        var searchBy = "";

        if ($('#searchby').val().length > 0) {
            searchBy = $('#searchby').val();
          //  window.location.href = "/reservation/reservations/list/";
            var originalUrl = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            var reservationType = $('#reservationLevel').val();
            var redirectionUrl = '/reservation/reservations/list/' + reservationType + '?search=' + searchBy;

            if (searchBy != searchValue) {
                window.location.href = redirectionUrl;
            }
            
            //alert(redirectionUrl);
            //alert(redirectionUrl);
        }

        //if ($('#reservationStatus-list').val()>0) {
        //    reservationStatus = $('#reservationStatus-list').val();
        //}
        reservationStatus = $('#reservationStatus-list').val();
        SortType = $('#SortType-list').val();
        SortColumn = $('#SortColumn-list').val();

        if (windowHeight > 661) {
            var paginations = {
                PageIndex: pageIndex,
                PageSize: 17,
                FilterType: $(gridId).closest('.grid-container').attr('data-filter-type'),
                SearchKeyword: searchBy,
                CurrentHistory: $('#CurrentHistory').val(),
                tempValue: $('#reservation-uuid').val(),
                FromDate: $('#From').val(),
                ToDate: $('#To').val(),
                ReservationStatus: reservationStatus,
                SortType: SortType,
                SortColumn: SortColumn
            }
        }
        else {
            var paginations = {
                PageIndex: pageIndex,
                PageSize: 10,
                FilterType: $(gridId).closest('.grid-container').attr('data-filter-type'),
                SearchKeyword: searchBy,
                CurrentHistory: $('#CurrentHistory').val(),
                tempValue: $('#reservation-uuid').val(),
                FromDate: $('#From').val(),
                ToDate: $('#To').val(),
                ReservationStatus: reservationStatus,
                SortType: SortType,
                SortColumn: SortColumn
            }
        }

        sessionStorage.setItem("reservationListIndex", pageIndex);
        

        return paginations;
    }

    $('body').on('click', '.showForm', function (e) {
        window.location.href = '/reservation/reservations/makereservation';
    });

    //$('body').on('click', '.paginate_button', function (e) {
    //    var index = $(this).attr('data-dt-idx');
    //  //  alert(index);
    //    var paginations = {
    //        //PageIndex: index,
    //        //PageSize: 20,
    //        PageIndex: $(gridId).closest('.grid-container').attr('data-page-index'),
    //        PageSize: $(gridId).closest('.grid-container').attr('data-page-size'),
    //        FilterType: $(gridId).closest('.grid-container').attr('data-filter-type'),
    //        SearchKeyword: $(gridId).closest('.grid-container').attr('data-search-keyword'),
    //        CurrentHistory: $('#CurrentHistory').val(),
    //        tempValue: $('#reservation-uuid').val(),
    //        FromDate: $('#From').val(),
    //        ToDate: $('#To').val()
    //    }
    //    FillGrid(paginations);
    //});
    // fill grid -- ReservationHeader -----------------------------------
    function FillGrid(paginations) {
        var resNo = $('#resNo').val();
        var gridId = "#existingReservationGrid"; // change this - relevent grid id
        //var paginations = {
        //    PageIndex: $(gridId).closest('.grid-container').attr('data-page-index'),
        //    PageSize: $(gridId).closest('.grid-container').attr('data-page-size'),
        //    FilterType: $(gridId).closest('.grid-container').attr('data-filter-type'),
        //    SearchKeyword: $(gridId).closest('.grid-container').attr('data-search-keyword'),
        //    CurrentHistory: $('#CurrentHistory').val(),
        //    tempValue: $('#reservation-uuid').val(),
        //    FromDate: $('#From').val(),
        //    ToDate: $('#To').val()
        //}

        // $("id").val() = "reservation";

        var actionURL = "/reservation/reservations/CheckOutReservationList";
        //debugger;
        // var id = "reservation";

        if ($('#type').val() == "inhouse") {
            actionURL = "/reservation/reservations/InHouseReservationList"
            // actionURL = "reservation/reservations/reservationlist"
        }
        else if ($('#type').val() == "checkout") {
            actionURL = '/Reservation/Reservations/SearchCheckOut';
            var obj = {};

            obj.Arrival = $('#searchArrival').val();
            obj.Departure = $('#searchDeparture').val();
            obj.GroupNo = $('#searchGroupNo').val();
            obj.ResNo = $('#searchResNo').val();
            obj.Guest = $('#searchGuest').val();
            obj.Company = $('#searchCompany').val();
            obj.VouchNo = $('#searchVouchNo').val();
            obj.Category = $('#searchCategory').val();
            obj.RoomType = $('#searchRoomType').val();
            obj.ANo = $('#searchANo').val();
            obj.KNo = $('#searchKNo').val();
            obj.RoomNo = $('#searchRoomNo').val();
          //  obj.IsCreditEnabled = $('#searchIsCreditEnabled').val();
            obj.Status = $('#searchStatus').val();
            paginations = {};
            paginations = { checkoutList: obj };
        }
        else {
            actionURL = "/reservation/reservations/reservationlist";

            //  $('#dobContainerInGuestProfiles').show();
        }

        $.ajax({
            url: actionURL,
            dataType: 'json',
            data: paginations,
            method: 'POST',
            beforeSend: function () {
                $('#loading-pot').show();
                $('#reservationStatus-list').attr('disabled', true);
                $('.applyBtn').hide();
                $('#existingReservationGrid').hide();
                $('.txtSearch').attr('disabled', true);
                $('#DateFilterFromReservation').attr('disabled', true);
                $('#DateFilterToReservation').attr('disabled', true);
            },
            success: function (data) {
                if (data.length>0) {
                    $('#TotalNoOfRecords').text(data[0].TotalNoOfRows);
                }
                var resNo = $('#resNo').val();
                if ($('#type').val() == "inhouse") {
                    LoadInhouseReservationList(data);
                }
                else if ($('#type').val() == "checkout") {
                    LoadCheckedOutReservationList(data);
                }
                else {
                    LoadReservationList(data);
                }
            },
            complete: function () {
                $('#loading-pot').hide();
                $('#existingReservationGrid').show();
                $('#reservationStatus-list').attr('disabled', false);
                $('.txtSearch').attr('disabled', false);
                $('.applyBtn').show();
                $('.txtSearch').focus();
                $('#DateFilterFromReservation').attr('disabled', false);
                $('#DateFilterToReservation').attr('disabled', false);
            },
            error: function (error) {

            }
        });
    }

    function LoadReservationList(data) {
        ReservationHeaders = "";
        $('.listLoadingArea').html('');

        ReservationHeaders ='<input type="hidden" id="new-reservation" value="@ViewBag.Uuid" />'+
                '<div class="table-responsive">' +
                '<table class="table font-size-12px" id="existingReservationGrid">' +
                '<tr style="height: 35px;">' +
                '<th></th>' +
                '<th class="text-primary">' +
                '</th>' +
                '<th class="text-primary">' +
                '</th>' +
                '<th class="text-primary">' +
                '</th>' +
                '<th class="text-primary">' +
                '</th>' +
                '<th class="text-primary hide"> Id' +
                '</th>' +
                '<th class="text-primary ">  Arrival' +
                '</th>' +
                '<th class="text-primary ">  Departure' +
                '</th>' +
                '<th class="text-primary ">  Nights' +
                '</th>' +
                '<th class="text-primary ">  Res.#' +
                '</th>' +
                '<th class="text-primary">  Guest' +
                '</th>' +
                '<th class="text-primary">   Company' +
                '</th>' +
                '<th class="text-primary">  Cat.' +
                '</th>' +
                '<th class="text-primary "> Type' +
                '</th>' +
                '<th class="text-primary" width="60px;">  A.#' +
            '</th>' +
            '<th class="text-primary" width="30px">K.#' +
            '</th>' +
                '<th class="text-primary"> Voucher' +
            '</th>' +
            '<th class="text-primary"> Tour#' +
            '</th>' +
                '<th class="text-primary "> Basis' +
                '</th>' +
                '<th class="text-primary "> Rate' +
                '</th>' +
                '<th class="text-primary "> Room' +
                '</th>' +
                '<th class="text-primary "> Group#' +
                '</th>' +
                //'<th class="text-primary col-md-1" style="text-align:center;">Credit Enable' + /*Add new*/
                //'</th>' +
                '<th class="text-primary col-md-1 hide" style="text-align:center;"> Status' +
                '</th>' +
                '<th style="width:60px;">' +
                '</th>' +
                '<th style="width:30px;">' +
                '</th>' +
                
                '<th class="hidden"></th>' +
                '<th class="hidden"></th>' +
                '<th class="hidden"></th>' +
                '<th class="hidden"></th>' +
                '</tr>' +
                '</table>' +
                '</div>';
        $(ReservationHeaders).appendTo(".listLoadingArea");

        var noOfPages = 1;
        var totalNoOfRows = 1;
        $.each(data, function (index, item) {
            var noOfAdults = '';
            var noOfKids = '';
            var hasAlert = '';
            var HasTravel = '';
            var HasTraces = '';
            var groupHighlight = '';

            if (item.GroupColour != 'Single') {
                groupHighlight = 'style="border-bottom:3px solid ' + item.GroupColour + ' !important; border-top:3px solid ' + item.GroupColour +' !important;"';
            }

            if (item.NoOfAdults > 0) {
                noOfAdults = '<span class="glyphicon glyphicon-user" style="color:black; font-size:15px;" data-toggle="tooltip"></span><sup class="superscript">' + item.NoOfAdults+'</sup>'
            } else {
                noOfAdults = '<span class="glyphicon glyphicon-user" style="color:#808080; font-size:15px;" data-toggle="tooltip"></span>';
            }

            if (item.NoOfKids > 0) {
                noOfKids = '<span class="fa fa-child " style="color:black; font-size:15px;" data-toggle="tooltip"></span><sup class="superscript">' + item.NoOfKids+'</sup>'
            } else {
                noOfKids = '<span font-size:15px;" data-toggle="tooltip"></span>'
            }

            if (item.HasAlert == 1) {
                hasAlert = '<span class="glyphicon glyphicon-bell " style="color:#555; font-size:15px;" data-toggle="tooltip" title="Alert"></span>';
            } else {
                hasAlert = '<span class="glyphicon glyphicon-bell" style="color:#F2F2F2; font-size:15px;" data-toggle="tooltip" title="Alert"></span>'
            }

            if (item.HasTravel == 1) {
                HasTravel = '<span class="fa fa-taxi" style="color:#555; font-size:15px;" data-toggle="tooltip" title="Transport"></span>';
            } else {
                HasTravel = '<span class="fa fa-taxi" style="color:#F2F2F2; font-size:15px;" data-toggle="tooltip" title="Transport"></span>';
            }

            if (item.HasTraces == 1) {
                HasTraces = '<span class="fa fa-check" style="color:#555; font-size:15px;" data-toggle="tooltip" title="Traces"></span>';
            } else {
                HasTraces = '<span class="fa fa-check" style="color:#F2F2F2; font-size:15px;" data-toggle="tooltip" title="Traces"></span>';
            }

            $(
                '<tr class="' + item.GuestProfileType + ' data-res-row" ' + groupHighlight + ' id="existingReservation">' +
                '<td>' +
                '<div class="form-group checkbox" style="margin-left: 5px;">' +
                '<label>' +
                '<input type="checkbox" class="data-reservation-no" room-Number="' + item.RoomNo + '" data-AdvanceAmount="' + item.AdvanceAmount + '" data-HasAdvancePaymentRecord="' + item.HasAdvancePaymentRecord + '" data-item-uuid="' + item.ResUuid + '" data-rateCodeHeaderId="' + item.RateCodeHeaderId + '" data-mealPlanId="' + item.MealPlanId + '" data-roomTypeId="' + item.RoomTypeId + '" data-roomCategoryName="' + item.RoomCat + '" guestId="' + item.GuestProfileId + '" guestName="' + item.GuestName + '" group-resNo="' + item.GResNo + '" arrival-date=' + item.Arrival + ' departure-date="' + item.Departure + '" room-id="' + item.RoomId + '" room-code="' + item.RoomNo + '" resNo="' + item.ResNo + '" value="' + item.Id + '" res-Uuid="' + item.ResUuid + '" roomCategoryId="' + item.RoomCategoryId + '" data-isLocalRate="' + item.IsLocalRate + '" data-isAllowedToCancel="' + item.IsAllowedToCancel + '" data-isAllowedToCheckIn="' + item.IsAllowedToCheckIn + '" data-isAllowedToAllocateRoom="' + item.IsAllocationRequired + '" data-RoomAmount="' + item.RoomRate + '" data-PropertyId="' + item.PropertyId + '" data-isDormitory="' + item.IsDormitory + '" data-IsVilla="' + item.IsVilla + '" />' +
                '</label>' +
                '</div>' +
                '</td>' +
                '<td>'+
                '<div class="" style="width:15px; height:15px; background-color:' + item.ReservationStatusColor+'; " title="' + item.ReservationStatus +'"></div>'+
                '</td>' +
                '<td>' +
                '<span class="' + item.ReservationTypeIcon + '" title="' + item.ResevationTypeName + '"></span>' +
                '</td>' +
                '<td>'+
                '<span class="' + item.ReservationCategoryIcon + '" title="' + item.ReservationCategory+'"></span>'+
                '</td>'+
                '<td>'+
                '<span class="' + item.ReservationForIcon + '" title="' + item.ReservationForIconText+'"></span>'+
                '</td>'+
                '<td class="Id hide">'+
                item.Id +
                '</td>'+
                '<td class="arrival-date" data-ResUuid="' + item.ResUuid+'">'+
                    item.ArrivalDate+
                '</td>'+
                '<td class="depature-date">'+
                    item.DepartureDate+
                '</td>' +
                '<td class="">' +
                item.NoOfNights +
                '</td>' +
                '<td class="res-no">'+
                    item.ResNo+
                '</td>'+
                '<td class="guest-name" data-guestProfileId="' + item.GuestProfileId+'">'+
                    item.GuestName+
                '</td>'+
                '<td>'+
                    item.AgentName+
                '</td>'+
                '<td>'+
                    item.RoomCat+
                '</td>'+
                '<td>'+
                    item.RoomTypeCode+
                '</td>'+
                '<td>'+
                noOfAdults+
                '</td>' +
                '<td>' +
                noOfKids +
                '</td>' +
                '<td>' +
                item.VoucherNo +
                '</td>' +
                '<td>' +
                item.TourNo +
                '</td>' +
                '<td class="room-no" data-roomId="'+item.RoomId+'">'+
                    item.MealPlanName+
                '</td>'+
                '<td class="room-no">'+
                    item.RoomRate+
                '<sup class="superscript">'+item.Currency+'</sup>'+
                '</td>'+
                '<td class="room-no" data-roomId="' + item.RoomId+'">'+
                    item.RoomNo+
                '</td>'+
                '<td class="group-res-no">'+
                    item.GResNo+
                '</td>' +
                //'<td class="IsCreditEnabled" style="text-align:center;">' +
                //item.IsCreditEnabled +  /*Add new*/
                //'</td>' +
                '<td class="res-status hide" style="text-align:center;">'+
                    item.ReservationStatus+
                '</td>' +
                '<td style="text-align:left;width: 75px;">'+
                hasAlert +
                HasTravel +
                HasTraces+
               '</td>'+
                '<td class="hidden-print text-right" style="text-align:right !important;">'+
                '<a class="btn btn-theme-color-2 btn-sm call-popup-model" id="" data-title="Reservation Activity Log" data-href="/Reservation/Reservations/ReservationActivityLog/' + item.Id+'" title="Activity Log" data-toggle="tooltip" data-width="500">'+
                        '<span class="glyphicon glyphicon-tags"></span>'+
                    '</a>'+
                '</td>'+
                
                '<td class="hidden"> Active'+
                '</td>'+
                '<td class="hidden">'+
                    item.TourNo+
                '</td>'+
                '<td class="hidden">'+
                    item.VoucherNo+
                '</td>' +
                '<td class="hidden">' +
                item.NoOfRows +
                '</td>' +
                '</tr>'
            ).appendTo("#existingReservationGrid");


            noOfPages = item.NoOfRows;
            totalNoOfRows = item.TotalNoOfRows;
        });
        //if ($('#hdn-index').val() == "1" || $('#searchby').val() != "") {
        //    LoadNoOfPages(noOfPages);
        //}
        if ($('#hdn-index').val() == "1") {
            LoadNoOfPages(noOfPages, totalNoOfRows);
        }

    }

    function LoadInhouseReservationList(data) {
        InhouseReservationHeaders = "";
        $('.listLoadingArea').html('');

        InhouseReservationHeaders = '<div class="responsive">' +
            '<table class="table font-size-12px" id="existingReservationGrid">' +
            '<tr style="height:35px;">' +
            '<th>' +
            '</th>' +
            '<td></td>' +
            '<td></td>' +
            '<td></td>' +
            '<th class="text-primary">Arrival'+
                '</th>'+
            '<th class="text-primary">Departure'+
            '</th>' +
            '<th class="text-primary ">Nights' +
            '</th>' +
            '<th class="text-primary ">Res#'+
                '</th>'+
            '<th class="text-primary">Guest'+
                '</th>'+
            '<th class="text-primary">Company'+
                '</th>'+
            '<th class="text-primary ">Category'+
                '</th>'+
            '<th class="text-primary">Type'+
                '</th>'+
            '<th class="text-primary" width="35px">A.#'+
                '</th>'+
            '<th class="text-primary" width="30px">K.#'+
            '</th>' +
            '<th class="text-primary"> Voucher' +
            '</th>' +
            '<th class="text-primary"> Tour#' +
            '</th>' +
            '<th class="text-primary">Basis'+
                '</th>'+
            '<th class="text-primary">Room'+
                '</th>'+
            '<th class="text-primary">Group#'+
            '</th>' +
            //'<th class="text-primary">Credit Enable' + /*Add new*/
            //'</th>' +
                '<th title="Posting Status">Posting'+
                '</th>'+
            '<th>'+
            '</th>'+
            '<th class="text-primary">'+
            '</th>'+
           
            '<th></th>'+
            '<th class="hidden"></th>'+
            '<th class="hidden"></th>'+
            '</tr>'+
        '</table>'+
            '</div>';

        $(InhouseReservationHeaders).appendTo(".listLoadingArea");

        var noOfPages = 1;
        var totalNoOfRows = 1;
        $.each(data, function (index, item) {
            var NoOfAdults = '';
            var NoOfKids = '';
            var IsStopPosting = '';
            var HasAlert = '';
            var HasTravel = '';
            var HasTraces = '';
            var IsAllowToCheckOut = '';
            var groupHighlight = '';

            if (item.GroupColour != 'Single') {
                groupHighlight = 'style="border-bottom:3px solid ' + item.GroupColour + ' !important; border-top:3px solid ' + item.GroupColour +' !important;"';
            }

            if (item.NoOfAdults > 0) {
                NoOfAdults = '<span class="glyphicon glyphicon-user" style="color:black; font-size:15px;" data-toggle="tooltip"></span><sup class="superscript">' + item.NoOfAdults + '</sup>'
            } else {
                NoOfAdults ='<span class="glyphicon glyphicon-user" style="color:#808080; font-size:15px;" data-toggle="tooltip"></span>'
            }

            if (item.NoOfKids > 0) {
                NoOfKids = '<span class="fa fa-child" style="color:black; font-size:15px;" data-toggle="tooltip"></span> <sup class="superscript">' + item.NoOfKids+'</sup>';
            } else {
                NoOfKids = '<span font-size:15px;" data-toggle="tooltip"></span>';
            }

            if (item.StopPosting) {
                IsStopPosting = '<input type="hidden" value="1" class="isStopPosting" /><text>Stopped</text>';
            } else {
                IsStopPosting = '<input type="hidden" value="0" class="isStopPosting" /> <text>Allowed</text>';
            }

            if (item.HasAlert == 1) {
                HasAlert = '<span class="glyphicon glyphicon-bell " style="color:#555; font-size:15px;" data-toggle="tooltip" title="Alert"></span>';
            } else {
                HasAlert = '<span class="glyphicon glyphicon-bell" style="color:#F2F2F2; font-size:15px;" data-toggle="tooltip" title="Alert"></span>';
            }

            if (item.HasTravel == 1) {
                HasTravel = '<span class="fa fa-taxi" style="color:#555; font-size:15px;" data-toggle="tooltip" title="Transport"></span>';
            } else {
                HasTravel = '<span class="fa fa-taxi" style="color:#F2F2F2; font-size:15px;" data-toggle="tooltip" title="Transport"></span>';
            }

            if (item.HasTraces == 1) {
                HasTraces = '<span class="fa fa-check" style="color:#555; font-size:15px;" data-toggle="tooltip" title="Traces"></span>';
            } else {
                HasTraces = '<span class="fa fa-check" style="color:#F2F2F2; font-size:15px;" data-toggle="tooltip" title="Traces"></span>';
            }

            if (item.IsAllowToCheckOut == true) {
                IsAllowToCheckOut = '<div class="form-group checkbox"><label><input type="checkbox" class="data-reservation-no" guestId="' + item.GuestProfileId + '" guestName="' + item.GuestName + '" group-resNo="' + item.GResNo + '" arrival-date="' + item.Arrival + '" departure-date="' + item.Departure + '" room-id="' + item.RoomId + '" room-code="' + item.RoomNo + '" resNo="' + item.ResNo + '" value="' + item.Id + '" res-Uuid="' + item.ResUuid + '" isAllowCheckOut=1 roomCategoryId="' + item.RoomCategoryId + '" data-isLocalRate="' + item.IsLocalRate + '" data-rateCodeHeaderId="' + item.RateCodeHeaderId + '" data-isAllowedToAllocateRoom="True" data-mealPlanId="' + item.MealPlanId + '" data-roomTypeId="' + item.RoomTypeId + '" data-isCheckoutToday="' + item.IsCheckoutToday+'" /></label></div>'
            } else {
                IsAllowToCheckOut = '<div class="form-group checkbox"><label><input type="checkbox" class="data-reservation-no" guestId="' + item.GuestProfileId + '" guestName="' + item.GuestName + '" group-resNo="' + item.GResNo + '" arrival-date="' + item.Arrival + '" departure-date="' + item.Departure + '" room-id="' + item.RoomId + '" room-code="' + item.RoomNo + '" resNo="' + item.ResNo + '" value="' + item.Id + '" res-Uuid="' + item.ResUuid + '" isAllowCheckOut=0 roomCategoryId="' + item.RoomCategoryId + '" data-isLocalRate="' + item.IsLocalRate + '" data-rateCodeHeaderId="' + item.RateCodeHeaderId + '" data-isAllowedToAllocateRoom="True" data-mealPlanId="' + item.MealPlanId + '" data-roomTypeId="' + item.RoomTypeId + '" data-PropertyId="' + item.PropertyId + '" data-isDormitory="' + item.IsDormitory + '" data-IsVilla="' + item.IsVilla +'"/></label></div>';
            }

            $(
                '<tr class="' + item.GuestProfileType + '" ' + groupHighlight + '>' +
                '<td>' +
                IsAllowToCheckOut +
                '</td>' +
                '<td>' +
                '<span class="' + item.ReservationTypeIcon + '" title="' + item.ResevationTypeName + '"></span>' +
                '</td>' +
                '<td>' +
                '<span class="' + item.ReservationCategoryIcon + '" title="' + item.ReservationCategory + '"></span>' +
                '</td>' +
                '<td>' +
                '<span class="' + item.ReservationForIcon + '" title="' + item.ReservationForIconText + '"></span>' +
                '</td>' +
                '<td class="arrival-date">' +
                item.ArrivalDate +
                '</td>' +
                '<td class="depature-date">' +
                item.DepartureDate +
                '</td>' +
                '<td class="">' +
                item.NoOfNights +
                '</td>' +
                '<td class="res-no">' +
                item.ResNo +
                '</td>' +
                '<td class="guest-name">' +
                item.GuestName +
                '</td>' +
                '<td>'+
                    item.AgentName+
                '</td>'+
                '<td>'+
                    item.RoomCat+
                '</td>'+
                '<td>'+
                    item.RoomTypeCode+
                '</td>'+
                '<td>'+
                   NoOfAdults+
                '</td>'+
                '<td>'+
                   NoOfKids+
                '</td>' +
                '<td>' +
                item.VoucherNo +
                '</td>' +
                '<td>' +
                item.TourNo +
                '</td>' +
                '<td>'+
                    item.MealPlanName+
                '</td>'+
                '<td class="room-no">'+
                    item.RoomNo+
                '</td>'+
                '<td class="group-res-no">'+
                    item.GResNo+
                '</td>' +
                //'<td>' +
                //item.IsCreditEnabled +  /*Add new*/
                //'</td>' +
                '<td>'+
                    IsStopPosting+
                '</td>'+

                '<td></td>'+
                '<td style="text-align:left;width: 75px;">'+
                   HasAlert+
                   HasTravel+
                   HasTraces+
                '</td>'+
                '<td class="hidden-print text-right" style="text-align:right !important;">'+
                    '<input type="hidden" value="Confirmed" class="res-status" />'+
                        '<a class="btn btn-theme-color-2 btn-sm call-popup-model" id="" data-title="Reservation Activity Log" data-href="/Reservation/Reservations/ReservationActivityLog/' + item.Id+'" title="Activity Log" data-toggle="tooltip" data-width="500">'+
                        '<span class="glyphicon glyphicon-tags"></span>'+
                    '</a>'+
                '</td>'+
               
                '<td class="hidden">'+
                    item.TourNo+
                '</td>'+
                '<td class="hidden">'+
                    item.VoucherNo+
                '</td>'+
            '</tr>'
            ).appendTo("#existingReservationGrid");

            noOfPages = item.NoOfRows;
            totalNoOfRows = item.TotalNoOfRows;
        });
        //if ($('#hdn-index').val() == "1" || $('#searchby').val() != "") {
        //    LoadNoOfPages(noOfPages);
        //}
        if ($('#hdn-index').val() == "1") {
            LoadNoOfPages(noOfPages, totalNoOfRows);
        }

    }


    function LoadCheckedOutReservationList(data) {
        CheckedOutReservationHeaders = "";
        $('.data-row').remove();
        var noOfPages = 1;
        var totalNoOfRows = 1;
        $.each(data, function (index, item) {
            var NoOfAdults = "";
            var NoOfKids = "";
            var HasTraces = "";
            var HasAlert = "";
            var HasTravel = "";
            var groupHighlight = '';

            if (item.GroupColour != 'Single') {
                groupHighlight = 'style="border-bottom:3px solid ' + item.GroupColour + ' !important;border-top:3px solid ' + item.GroupColour +' !important;"';
            }

            if (item.NoOfAdults > 0) {
                NoOfAdults = '<span class="glyphicon glyphicon-user" style="color:black; font-size:15px;" data-toggle="tooltip"></span> <sup class="superscript">' + item.NoOfAdults +'</sup>';
            } else {
                NoOfAdults = '<span class="glyphicon glyphicon-user" style="color:#808080; font-size:15px;" data-toggle="tooltip"></span>';
            }

            if (item.NoOfKids > 0) {
                NoOfKids = '<span class="fa fa-child" style="color:black; font-size:15px;" data-toggle="tooltip"></span> <sup class="superscript">' + item.NoOfKids + '</sup>';
            } else {
                NoOfKids = '<span font-size:15px;" data-toggle="tooltip"></span>';
            }

            if (item.HasTraces == 1) {
                HasTraces = '<span class="fa fa-check" style="color:red; font-size:15px;" data-toggle="tooltip" title="Traces"></span>';
            } else {
                HasTraces = '';
            }

            if (item.HasAlert == 1) {
                HasAlert = '<span class="glyphicon glyphicon-bell " style="color:red; font-size:15px;" data-toggle="tooltip" title="Alert"></span>';
            } else {
                HasAlert = '';
            }

            if (item.HasTravel == 1) {
                HasTravel = '<span class="fa fa-taxi" style="color:red; font-size:15px;" data-toggle="tooltip" title="Transport"></span>';
            } else {
                HasTravel = '';
            }

            $(
                '<tr class="data-row ' + item.GuestProfileType + '" ' + groupHighlight +'>'+
                            '<td>'+
                '<span class="' + item.ReservationTypeIcon + '" title="' + item.ResevationTypeName+'"></span>'+
                            '</td>'+
                            '<td>'+
                '<span class="' + item.ReservationForIcon + '" title="' + item.ReservationForIconText+'"></span>'+
                            '</td>'+
                            '<td class="arrival-date">'+
                                item.ArrivalDate+
                            '</td>'+
                            '<td class="depature-date">'+
                                item.DepartureDate+
                            '</td>'+
                            '<td>'+
                                item.GResNo+
                            '</td>'+
                            '<td class="res-no">'+
                                item.ResNo+
                            '</td>'+
                            '<td class="guest-name">'+
                                item.GuestName+
                            '</td>'+
                            '<td>'+
                                item.AgentName+
                            '</td>'+
                            '<td>'+
                                item.VoucherNumber+
                            '</td>'+
                            '<td>'+
                                item.RoomCat+
                            '</td>'+
                            '<td>'+
                                item.RoomTypeCode+
                            '</td>'+
                            '<td>'+
                               NoOfAdults+
                            '</td>'+
                            '<td>'+
                                NoOfKids+
                            '</td>'+
                            '<td>'+
                                item.RoomNo+
                            '</td>' +
                            //'<td>' +
                            //item.IsCreditEnabled + /*Add new*/
                            //'</td>' +
                            '<td>'+
                                item.RoomStatus+
                            '</td>'+
                            '<td class="hidden" style="text-align:center;">'+
                                item.ReservationStatus+
                            '</td>'+
                            '<td style="text-align:center;">'+
                                HasTraces+
                                HasAlert+
                                HasTravel+
                            '</td>'+
                            '<td class="hidden-print text-right" style="text-align:right !important;">'+
                '<a class="btn btn-theme-color-2 btn-sm call-popup-model" id="" data-title="Reservation Activity Log" data-href="/Reservation/Reservations/ReservationActivityLog/' + item.Id+'" title="Activity Log" data-toggle="tooltip" data-width="500">'+
                                    '<span class="glyphicon glyphicon-tags"></span>'+
                                '</a>'+
                            '</td>'+
                            '<td>'+
                                '<div class="form-group checkbox">'+
                                    '<label>'+
                                        '<input type="hidden" value="Confirmed" class="res-status" />'+
                '<input type="checkbox" class="data-reservation-no" guestId="' + item.GuestProfileId + '" guestName="' + item.GuestName + '" group-res-no="' + item.GResNo + '" arrival-date="' + item.Arrival + '" departure-date="' + item.Departure + '" room-id="' + item.RoomId + '" room-code="' + item.RoomNo + '" resNo="' + item.ResNo + '" value="' + item.Id + '" res-Uuid="' + item.ResUuid + '" data-PropertyId="' + item.PropertyId + '" data-isDormitory="' + item.IsDormitory + '" data-IsVilla="' + item.IsVilla +'"/>'+
                                    '</label>'+
                                '</div>'+
                            '</td>'+
                            '<td class="hidden">'+
                                item.TourNo+
                            '</td>'+
                            '<td class="hidden">'+
                item.VoucherNumber+
                            '</td>'+
                        '</tr>'
            ).appendTo("#existingReservationGrid");

            noOfPages = item.NoOfRows;
            totalNoOfRows = item.TotalNoOfRows;
            
        });


        //if ($('#hdn-index').val() == "1" || $('#searchby').val() != "") {
        //    LoadNoOfPages(noOfPages);
        //}
        if ($('#hdn-index').val() == "1") {
           
            LoadNoOfPages(noOfPages, totalNoOfRows);
        }


    }

    function LoadTotalNoOfRows() {
        $('#totalRows').html('');
        $(
            '<h5 class="title" id="TotalNoOfRecords"></h5>'
        ).appendTo('#totalRows');
    }

    function LoadNoOfPages(noOfPages, totalNoOfRows) {
      
        var Nos = '';
        
        $('#pageNoLine').html('');
        $('.data-page-no-btn').remove();

        $('#hdn-noOfPages').val(noOfPages);
        var currentPage = $('#hdn-index').val();

       

        for (var i = 1; i <= noOfPages; i++) {
            if (i == 4) {
                i = (noOfPages - 2);
                Nos = Nos + '<button class="data-page-no-btn btn btn-default btn-sm data-index-' + i + '" data-noOfPages="' + noOfPages + '" data-val="' + i + '">...</button>';
            }
            Nos = Nos + '<button class="data-page-no-btn btn btn-default btn-sm  data-index-' + i + '" data-noOfPages="' + noOfPages + '" data-val="' + i + '">' + i + '</button>';
        }
        $(
            '<span style=" float: left;margin-top: 9px;font-size: 12px;text-transform: uppercase;font-weight: bold;">Total Reservations : ' + totalNoOfRows+ '</span>'+
            '<span class="current-page-no"><span id="current-index">1</span>/' + noOfPages + '</span>' +
            '<button class="data-page-previous-btn data-page-no-btn btn btn-default btn-sm" data-noOfPages="' + noOfPages + '" data-val="1">PREVIOUS</button>' +
            Nos +
            '<button class="data-page-next-btn data-page-no-btn btn btn-default btn-sm" data-noOfPages="' + noOfPages + '" data-val="2">NEXT</button>'
        ).appendTo('#pageNoLine');
    }

    $('body').on('click', '.data-page-no-btn', function (e) {
        var index = 1;
        index = Number($(this).attr('data-val'));
        var noOfPages = Number($(this).attr('data-noOfPages'));
        var paginations = Paginations(index);
        var previous = index;
        var next = index;
        if (index>1) {
            previous = index - 1;
        }
        if (noOfPages > index) {
            next = index + 1;
        }


        FillGrid(paginations);
        $('.data-page-previous-btn').attr('data-val', previous);
        $('.data-page-next-btn').attr('data-val', next);
        $('.data-page-no-btn').removeClass('highlight');
        $(this).addClass('highlight');
        $('#hdn-index').val(index);
        $('#current-index').text(index.toString());

        var redirectUrl = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&') + '?index=' + index;
        //alert(redirectUrl);
    });

    //function changePage(e) {
    //    e.pre
    //    var index = $(e).attr('data-page-no');
    //    alert(index);
    //    var paginations = Paginations(pageIndex);
    //    FillGrid(paginations);
    //}

    const ShowResult = () => {
        $.ajax({
            url: '/Reservation/Reservations/SelectReservationListFilter',
            dataType: 'Json',
            success: function (response) {
                if (response.toString().startsWith('ERR-')) {
                    ShowErrorMessage("Sorry, There is an error in saving this record.");
                } else {

                    if (response.FilterMethod == 1) {
                        GridFilterByText('Confirmed');
                    }
                    else if (response.FilterMethod < 0) {
                        GridFilterByText('Tentative');
                    }
                    else if (response.FilterMethod > 1) {
                        GridFilterByText('');
                    }
                    else {
                        GridFilterByText('Cancelled');
                    }
                }
            },
            error: function (xhr, status, error) {
                ShowWarningMessage('Sorry, There is an error in saving this record.');
            }
        });
    };

    function GridFilterByConfirmed() {
        setTimeout(function () {
            GridFilterByText('Confirmed');
        }, 2000);
    }

    function SelectLastRes(resNo) {
        setTimeout(function () {
            GridFilterByText(resNo)
        }, 1000);
    }

    function GridFilterByText(stringValue) {
        $('.dataTables_filter input[type="search"]').val(stringValue);
        $('.dataTables_filter input[type="search"]').focus();
        $($('.dataTables_wrapper').find('table')).DataTable().search(stringValue).draw();
    }

    function SaveBill() {

        $('#grid-record-detail-model').modal('show');
        guestInfo = [];
        guestInfo.push({
            ReservationNo: $('#resNo_AP').val(),
            groupresNo: $('#gresNo_AP').val(),
            GuestName: $('#guestName_AP').val(),
            RoomCode: $('#roomNo_AP').val(),
            RoomId: $('#roomId_AP').val(),
            GuestProfileId: $('#guestProf_AP').val(),
        });

        //var advancepayment = {
        //    BillTypeId: $('#Ad_pPostingTypeId').val(),
        //    TaxGroupId: $('#Ad_pTaxId').val(),
        //    Amount: Billtotal,
        //    Remarks: $('#AdvancedPayRemark').val() == "" ? "Advance Payment" : $("#AdvancedPayRemark").val(),// Remarks: $('#AdvancedPayRemark').val(),
        //    PostingCategoryId: $('#Ad_pPostingCatgId').val(),
        //    DRCR: 'C',
        //    ChargeCodeId: $('#Ad_pChargeCodeId').val(),
        //    RoomDetails: guestInfo,
        //    BillPaymentDetails: billpaymentArray
        //};
        var advancepayment = {
            BillTypeId: $('#Ad_pPostingTypeId').val(),
            TaxGroupId: $('#Ad_pTaxId').val(),
            Amount: Billtotal,
            //Amount: parseFloat($('#AdvancedPayAmount').val().trim().replace(/,/g, '')).toFixed(2),
            Remarks: $('#AdvancedPayRemark').val() == "" ? "Advance Payment" : $("#AdvancedPayRemark").val(),
            PostingCategoryId: $('#Ad_pPostingCatgId').val(),
            DRCR: 'C',
            ChargeCodeId: $('#Ad_pChargeCodeId').val(),
            RoomDetails: guestInfo,
            BillPaymentDetails: billpaymentArray
        };

        $.ajax({
            url: '/CashieringAndPosting/AdvancedPayment/SaveAdvancePayment',
            dataType: 'Json',
            data: advancepayment,
            method: 'POST',
            success: function (response) {
                if (response.toString().startsWith('ERR-')) {
                    ShowErrorMessage("Sorry, There is an error in saving this record.");
                } else {
                    $('#grid-record-detail-model').modal('show');
                    $('#btnprint').removeClass('disabled');
                    $('#btnSave').prop('disabled', true);
                    $('#preview').text('');
                    $('.ribbon').addClass('hidden');
                    $('#billPayment').hide();
                    $('#ReportLoadingArea').show();
                    $('#ReportFooter').show();
                    $('#ribbonId').show();
                    $('#btnbillpaymentforreservation').addClass('disabled');
                    getInvoiceNo(response);
                }
            },
            error: function (xhr, status, error) {
                ShowWarningMessage('Sorry, There is an error in saving this record.');
            },
            timeout: 10000

        });

        $('.currencyTc').removeClass('hidden');
        $('#AddPayment').addClass('hidden');
        $('#btnClear').val('New');
    }

    function getInvoiceNo(response) {
        $('#Advancedpayment-billheader').html('');

        var elements = '<tr>' +
            '<td class="report-width75perc" style="width:60%" >' +
            '<div class="row" style="padding-left:20px">  <b>Reservation No:&nbsp</b>' + response.ReservationNo + '</div>' +
            '<div class="row" style="padding-left:20px">  <b>Room:&nbsp</b>' + response.RoomCode + '</div>' +
            '<div class="row" style="padding-left:20px"><b>Name:&nbsp</b>' + response.GuestName + '</div>' +
            '</td>' +
            '<td class="report-width25perc" style="width:40%">' +
            '<div class="row" style="padding-left:10px"><b>Receipt No:&nbsp </b>' + response.InvoiceNo + ' </div>' +
            '<div class="row" style="padding-left:10px">  <b>Date:&nbsp</b>' + fomatTime(response.RecordInsertTime, 'd') + '</div>' +
            '</td>' +
            '</tr>';


        $(elements).appendTo($('#Advancedpayment-billheader'));

    }

    $('body').on('click', '#clearbtn', function (e) {
        e.preventDefault();
        $.ajax({
            url: '/reservation/reservations/ClearResNoFromSession',
            dataType: 'Json',
            method: 'POST',
            success: function () {
                text = "";
                $('.dataTables_filter input[type="search"]').val(text);
                $('.dataTables_filter input[type="search"]').focus();
                $($('.dataTables_wrapper').find('table')).DataTable().search(text).draw();
                location.reload();
            },

        });
    });

    //$('body').on('click', '#btnSearchParam', function () {
    //    alert('ok');
    //    var obj = {};

    //    obj.Arrival = $('#searchArrival').val();
    //    obj.Departure = $('#searchDeparture').val();
    //    obj.GroupNo = $('#searchGroupNo').val();
    //    obj.ResNo = $('#searchResNo').val();
    //    obj.Guest = $('#searchGuest').val();
    //    obj.Company = $('#searchCompany').val();
    //    obj.VouchNo = $('#searchVouchNo').val();
    //    obj.Category = $('#searchCategory').val();
    //    obj.RoomType = $('#searchRoomType').val();
    //    obj.ANo = $('#searchANo').val();
    //    obj.KNo = $('#searchKNo').val();
    //    obj.RoomNo = $('#searchRoomNo').val();
    //    obj.Status = $('#searchStatus').val();

    //    console.log(obj)

    //    $.ajax({
    //        url: '/Reservation/Reservations/SearchCheckOut',
    //        method: 'POST',
    //        dataType: 'JSON',
    //        data: { checkoutList: obj },
    //        success: function (data) {
    //            if (data == 'success') {
    //                ShowSuccessMessage('Chaeckout Lit Successfully Loaded');
    //                window.location.reload();
    //            } else {
    //                ShowErrorMessage('Sorry there is an error')
    //            }
    //        },

    //    })
    //});

    $('body').on('click', '.searchBtn', function () {
        var fromDt = $('#DateFilterFromReservation').val();
        var toDt = $('#DateFilterToReservation').val();
        $('#From').val(ChangeDateFormat(fromDt));
        $('#To').val(ChangeDateFormat(toDt));
        var paginations;
        FillGrid(paginations);
    });

    $(document).ready(function () {

         $('#searchArrival').daterangepicker({
             singleDatePicker: true,
             "showDropdowns": true,
             "showWeekNumbers": true,
             "showISOWeekNumbers": true,
             "startDate": moment().add(-365, 'days'),

            locale: {
                format: 'YYYY-MM-DD'
            }
        });

        $('#searchDeparture').daterangepicker({
            singleDatePicker: true,
            "showDropdowns": true,
            "showWeekNumbers": true,
            "showISOWeekNumbers": true,
            "minDate": new Date(),
            "startDate": new Date(),

            locale: {
                format: 'YYYY-MM-DD'
            }
        });


    });


</script>


