@model Scienter.HotelERP.Common.Domain.ViewModels.HotelConfirmationView
<style>
    .single-page-edit .disabled {
        cursor: not-allowed;
    }

    .single-page-edit .dataTables_filter {
        width: 29% !important;
        float: left !important;
    }

    .single-page-edit .dt-buttons {
        width: 70% !important;
    }

    .single-page-edit .superscript {
        font-size: 0.8em;
    }

    .single-page-edit .form-group {
        margin-top: 5px;
    }

    .single-page-edit .table .radio, .single-page-edit .table .checkbox {
        margin-right: 10px;
    }

    .single-page-edit #guestGroupGrid {
        font-size: 12px !important;
    }

        .single-page-edit #guestGroupGrid input, select {
            font-size: 12px !important;
        }

    .single-page-edit .control-label,
    .single-page-edit .label-data {
        font-size: 11px !important;
    }

    .single-page-edit .area-two,
    .single-page-edit .area-one,
    .single-page-edit .area-three {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px;
    }

    .single-page-edit .area-one {
        margin-right: 15px
    }

    .single-page-edit .the-legend {
        font-size: 10px
    }
    .select2{
        width: 165px;
        margin-top: 10px;
        font-size: 11px;
        margin-top:5px;
    }

    #tableLoadingArea .form-group{
        padding-bottom:0px !important;
    }



    .single-page-edit .form-group.label-static label.control-label,
    .single-page-edit .form-group.label-floating.is-focused label.control-label,
    .single-page-edit .form-group.label-floating:not(.is-empty) label.control-label {
        top: -22px;
        /* left: 0; */
        font-size: 10px !important;
        line-height: 1.07143;
    }



    .the-fieldset {
        border-radius: 3px !important;
    }

    /*2023-08-15---------------------------------------------------------------------*/
    .select2-results {
        line-height: 12px !important;
        font-size: 12px !important;
    }

        .select2-results ul li {
            color: black !important;
            font-family: 'Roboto', sans-serif !important;
            font-weight: 200 !important;
            cursor: auto;
        }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #0078D4 !important;
        color: white !important;
    }

    .select2-selection__rendered {
        color: #0a1324;
    }

    .select2-search--dropdown .select2-search__field {
        height: 26px;
        font-size: 14px;
    }

    .control-label{
        z-index:1 !important;
    }

    .select2-container{
        width:100% !important;
    }

    .guest-select-all-checkBox:checked {
        background-color: red; /* Checked background color */
    }

        /* Styling for the check mark */
        .guest-select-all-checkBox:checked::after {
            content: '\2713'; /* Unicode check mark character */
            color: yellow; /* Check mark color */
            font-size: 14px; /* Adjust the font size as needed */
            margin: -5px 0 0 -5px; /* Adjust the margin to position the check mark */
        }
    /*-------------------------------------------------------------------------------*/


    label .checkbox .checkbox-material .check {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #b6ff00;
        overflow: hidden;
        z-index: 1;
        border-radius: 0px;
    }

    .guest-select-all-checkBox {
    border:6px solid #0ff000;
    }

</style>
<link href="~/Select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Select2/js/select2.full.min.js"></script>
@*-----------Hidden fields for reservation update-----------------*@
<input type="hidden" id="GuestName" value="@ViewBag.GuestName" />
<input type="hidden" value="@Scienter.HotelERP.Common.Domain.SessionObjects.LoggedUser.LoggedProperty.Id" name="" id="PropertyId" />
<input type="hidden" value="@Scienter.HotelERP.Common.Domain.SessionObjects.LoggedUser.Id" name="" id="UserId" />
<input type="hidden" value="@Scienter.HotelERP.Common.Utility.Configs.GetAppSettingValue("DirectPrintURL")" id="DirectPrintURL" />
<input type="hidden" id="ReservationType" value="@ViewBag.ReservationType" />
<input type="hidden" id="resHeadId" value="@ViewBag.ResheaderId" />
<input type="hidden" class="ReseNo" value="@Model.ReservationNo" />
<input type="hidden" class="segmentId-hidden" value="@Model.SegmentId" />
<input type="hidden" class="rateCodeId-hidden" value="@Model.RateCodeHeaderId" />
<input type="hidden" class="marketId-hidden" value="@Model.MarketId" />
<input type="hidden" class="reservation-country" value="@Model.CountryID" />
<input type="hidden" class="reservation-status" value="@Model.StatusId" />
<input type="hidden" class="reservation-bookingSource" value="@Model.BookingSourceId" />
<input type="hidden" class="reservation-company" value="@Model.AgentId" />
<input type="hidden" class="reservation-rateCode" value="@Model.RateCodeHeaderId" />
<input type="hidden" class="reservation-segment" value="@Model.SegmentId" />
<input type="hidden" class="reservation-market" value="@Model.MarketId" />
<input type="hidden" id="ExistingVisitPurposeId" value="@Model.VisitPurposeId" />
<input type="hidden" class="reservation-packageHeaderId" value="@Model.PackageHeaderId" />
<input type="hidden" class="reservation-guestPaymentModeId" value="@Model.GuestPaymentMode" />
<input type="hidden" id="hidden-Uuid" value="@ViewBag.Uuid" />
<input type="hidden" id="hidden-SalesPersonId" value="@ViewBag.SalesPersonId" />

<input type="hidden" class="meal-arrivalForId" value="@Model.ArrivalForId" />
<input type="hidden" class="meal-leaveAfterId" value="@Model.LeaveAfterId" />
@*--------Hidden fields for reservation update end----------*@

@*----------Hidden fields for stay change------------------*@
<input type="hidden" id="roomCategoryId" value="@ViewBag.RoomCategoryId" />
<input type="hidden" id="ViewRateCodeHeaderId" value="@ViewBag.RateCodeHeaderId" />
<input type="hidden" id="ViewMealPlanId" value="@ViewBag.MealPlanId" />
<input type="hidden" id="ViewRoomTypeId" value="@ViewBag.RoomTypeId" />
<input type="hidden" id="IsChangeRoom" value="@ViewBag.IsChangeRoom" />
<input type="hidden" id="CurrentDate" value="@ViewBag.CurrentDate" />
<input type="hidden" id="ViewCompanyId" value="@ViewBag.CompanyId" />
<input type="hidden" id="ViewCountryId" value="@ViewBag.CountryId" />
<input type="hidden" id="isDormitory" name="isDormitory" value="@ViewBag.IsDormitory" required />
@*----------Hidden fields for stay change end--------------*@
@*-----------Hidden fields for guest update------------------*@
<input type="hidden" id="groupReservationNo" value="@ViewBag.GroupReservationNo" />
@*-----------------------------------------------------------*@

@if (Convert.ToDateTime(Scienter.HotelERP.Common.Domain.SessionObjects.Dashboard.HotelDate).ToShortDateString() == Convert.ToDateTime(Model.Arrival).ToShortDateString())
{
    <input type="hidden" id="IsEnableArrivalFor" value="true" />
}
else
{
    <input type="hidden" id="IsEnableArrivalFor" value="false" />
}

    <div class="row single-page-edit">
        <ul class="nav nav-tabs" style="width: 25%;float: right;position: absolute;margin-left: 941px;margin-top: -56px;">
            <li class="res-Change active"><a data-toggle="tab" href="#res-Change">Reservation Change</a></li>
            <li class="guest-Update guest-update-tab"><a data-toggle="tab" href="#guest-Update">Guest Update</a></li>
        </ul>
        <div class="col-md-12">
            <div class="tab-content">
                <div id="res-Change" class="tab-pane fade in active">
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <fieldset class="the-fieldset" style="padding:3px; height:475px;overflow-y:scroll;margin-top: -23px;">
                                <legend class="the-legend">Reservation No</legend>
                                <div class="col-md-12 label-data" id="reservationNumbersLoadingArea"></div>
                            </fieldset>
                        </div>
                        <div class="col-md-10" style="padding:0; margin-top:-14px;overflow:hidden">
                            <div class="area-one">
                                <div class="row">

                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Status</label>
                                                    <select name="StatusId" id="StatusId" class="select2 form-control label-data" required>
                                                        <option value="0" class="label-data">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Guest payment mode</label>
                                                    <select name="GuestPaymentModeId" id="GuestPaymentModeId" class="select2 form-control label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Rate Code</label>
                                                    <select name="RateCodeId" id="RateCodeId" class="select2 form-control  label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Market</label>
                                                    <select name="MarketId" id="MarketId" class="select2 form-control  label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Sales Person</label>
                                                    <select name="SalesPersonId" id="SalesPersonId" class="form-control label-data" required>
                                                        @*<option value="0">N/A</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">S.Person Contact</label>
                                                    <input type="text" name="SalesPersonContact" id="SalesPersonContact" class="form-control label-data" value="@Model.SalesPersonContactNo" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">Voucher No</label>
                                                    <input type="text" name="VoucherNo" id="VoucherNo" class="form-control label-data" value="@Model.VoucherNo" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">Tour No</label>
                                                    <input type="text" name="TourNo" id="TourNo" class="form-control label-data" value="@Model.TourNo" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Booking Source</label>
                                                    <select name="BookingSourceId" id="BookingSourceId" class="select2 form-control  label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Segment</label>
                                                    <select name="SegmentId" id="SegmentId" class="select2 form-control  label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Visit Purpose</label>
                                                    <select name="VisitPurposeId" id="VisitPurposeId" class="select2 form-control label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Package</label>
                                                    <select name="PackageId" id="PackageId" class="select2 form-control label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">Reservation remark</label>
                                                    <textarea name="Remark" id="RemarkId" maxlength="1000" rows="5" class="form-control label-data" value="@Model.BookingRemark">@Model.BookingRemark</textarea>
                                                    @*<input type="text" name="Remark" id="RemarkId" maxlength="500" class="form-control label-data" value="@Model.BookingRemark" />*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-7">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="required control-label">Company</label>
                                                    <select name="CompanyId" id="CompanyId" class="select2 form-control" required>
                                                        <option value="0">N/A</option>
                                                    </select>

                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="checkbox" title="Invoice settlement from LKR for SSCL tax calculation.">
                                                    <label style="font-size: 9px;">
                                                        <input type="checkbox" class="checkbox isBillPaymentFromLKR" value="">
                                                        LKR Pay.
                                                    </label>
                                                </div>


                                            </div>
                                        </div>



                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-5" style="margin-top:15px;">
                                    <div class="area-two">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group  label-floating change-departure-container" style="margin-top:5px;">
                                                    <label class="control-label">Reason</label>
                                                    <div id="StayChangeReasonComboContainer">
                                                        <select name="StayChangeReasonId" id="StayChangeReasonId" class="select2 form-control label-data" required style="font-size:10px !important">
                                                            <option class="label-data"> </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">Arrival*</label>
                                                    @if (ViewBag.ReservationType == "reservation")
                                                    {
                                                        <input type="text" name="From" id="StayChange-ArrivalDate" class="form-control label-data dateSelect inhouse-start-date-picker ArrivalDate1 disabled" value="@Convert.ToDateTime(ViewBag.arrivalDate).ToShortDateString()" />

                                                    }
                                                    else
                                                    {
                                                        <input type="text" name="From" id="StayChange-ArrivalDate" class="form-control label-data dateSelect ArrivalDate1 disabled" value="@Convert.ToDateTime(ViewBag.arrivalDate).ToShortDateString()" />

                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">Departure*</label>
                                                    <input type="text" name="To" id="StayChange-DepartureDate" class="form-control label-data dateSelect end-date-picker DepartureDate1" value="@Convert.ToDateTime(ViewBag.departureDate).ToShortDateString()" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-margin-override label-floating resArrivalTime" id="ExpectedArrivalTimeId">
                                                    <label class="required control-label">Expected Arrival Time</label>
                                                    <input type="hidden" class="timeArrival label-data" value="@Model.ExpectedArrivalTime" />
                                                    @{Html.RenderPartial("_TimeRange");}

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-margin-override label-floating resDepartureTime" id="ExpectedDepartureTimeId">
                                                    <input type="hidden" class="timeDeparture" value="@Model.ExpectedDepartureTime" />
                                                    <label class="required control-label">Expected Departure Time</label>
                                                    @{Html.RenderPartial("_TimeRange");}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">Meal Plan</label>
                                                    <select name="MealPlanId" id="MealPlanId" class="select2 form-control label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">Arrive For</label>
                                                    <select name="ArriveMealPlanId" id="ArriveMealPlanId" class="select2 form-control label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">Leave After</label>
                                                    <select name="LeaveMealPlanId" id="LeaveMealPlanId" class="select2 form-control label-data" required>
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">No Of Adults</label>
                                                    <input type="number" name="NoOfAdults" id="NoOfAdults" class="form-control label-data" value="@Model.NoOfAdults" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">No Of Kids</label>
                                                    <input type="number" name="NoOfKids" id="NoOfKids" class="form-control label-data" value="@Model.NoOfKids" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-margin-override label-floating">
                                                    <label class="control-label">No Of Infants</label>
                                                    <input type="number" name="Infants" id="Infants" class="form-control label-data" value="@Model.Infants" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating" style="margin-top:5px;">
                                                    <label class="control-label">Stay change remark</label>
                                                    <textarea maxlength="1000" rows="1" id="StayChange-Remark" name="StayChange-Remark" class="form-control label-data"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-7 area-three" style="margin-top:15px; height:270.28px; width:606px; overflow-y:scroll; margin-left:5px">
                                    <div class="table-responsive" id="tableLoadingArea">

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-9">
                                    <button type="button" class="btn btn-primary pull-right" id="new-reservation-update">
                                        Update Reservation  <span class="glyphicon "></span>
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-primary pull-right" id="" data-dismiss="modal" style="margin-right: 11px;">
                                        <span class="glyphicon glyphicon-floppy-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="guest-Update" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="the-fieldset">
                                <legend class="the-legend">Guest Update</legend>

                                <div class="manage-group">
                                    <div class="table-responsive">
                                        <form id="guestGroup">
                                            <table class="table table-striped table-hover" id="guestGroupGrid" cellspacing="5">

                                                    @*2024-02-12 Anuradha---------------------------------------------------------------------- add new <th> s*@
                                                <tr>
                                                    <th width="50px" style="margin-right:0.2em" title="Select All">
                                                        <div class="form-group checkbox check-all">
                                                            <label>
                                                                <input type="checkbox" />
                                                            </label>
                                                        </div>
                                                    </th>
                                                    <th class="text-primary " input type="text" width="100px">
                                                        Res.No
                                                    </th>
                                                    <th class="text-primary " input type="text" width="80px">
                                                        Room
                                                    </th>
                                                    <th class="text-primary " width="80px">
                                                        Salutation
                                                    </th>
                                                    <th width="50px"></th>
                                                    <th class="text-primary " width="100px">
                                                        First Name
                                                    </th>
                                                    <th class="text-primary " width="100px">
                                                        Last Name
                                                    </th>
                                                    <th class="text-primary " width="150px">
                                                        Email
                                                    </th>
                                                    <th width="50px"></th>
                                                    <th class="text-primary " width="100px">
                                                        ContactNo
                                                    </th>
                                                    <th width="50px"></th>
                                                    <th class="text-primary " width="120px">
                                                        DOB
                                                    </th>
                                                    <th class="text-primary " width="120px">
                                                        Country
                                                    </th>
                                                    <th width="50px"></th>
                                                    <th class="text-primary " width="120px">
                                                        Nationality
                                                    </th>
                                                    <th width="50px"></th>
                                                </tr>
                                                    @*-----------------------------------------------------------------------------------------*@

                                            </table>
                                            <div class="form-group ">
                                                <input type="submit" id="btnUpdate" disabled="disabled" value="Update" class="btn btn-primary " />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@if (Model.IsBillPaymentFromLKR)
{
    <input type="hidden" class="IsBillPaymentFromLKR" value="True" />
}
else
{
    <input type="hidden" class="IsBillPaymentFromLKR" value="False" />
}

    <script src="~/Scripts/ui/common/scienter.frontoffice.layout2.js"></script>
<script src="~/Scripts/ui/common/Scienter.Common.ComboBoxes.js"></script>
<script src="~/Scripts/ui/common/scienter.common.datatimepicker.js"></script>
<script src="~/Scripts/ui/ReservationEdit.js"></script>
<input type="hidden" id="SinglePageReservationEditPage" value="1" />

@if (Model.Area == "I")
{
    <script>

        //Stehani 2024-04-05

        $(document).ready(function () {

            //2023-08-10--------------------------------------------------------------------------
            $('.select2').select2();

            setTimeout(function () {
                $('.select2.select2-container').addClass('form-control');
                $('.select2-container--default .select2-selection--single').css({ 'border': 'none', 'border-radius': '0px', 'border-bottom': '1px solid #d2d2d2' });
                $('.select2-selection__arrow').css('display', 'none');
                $('#select2-DocNo-container').css({ 'margin-top': '-1px', 'cursor': 'auto' });
            }, 900);

            $('body').off('click', '.select2').on('click', '.select2', function () {
                setTimeout(function () {
                    $('.select2-results ul li').removeClass('select2-results__option--selected');
                }, 200);
            });

        //-------------------------------------------------------------------------------------------
            setInterval(function () {

                $('#StatusId').prop('disabled', true);
                $('#CompanyId').prop('disabled', true);
                $('#MarketId').prop('disabled', true);
                //$('#SegmentId').prop('disabled', true);
                $('#StatusId').prop('disabled', true);
                $('#NoOfAdults').prop('disabled', true);
                $('#NoOfKids').prop('disabled', true);
                $('#Infants').prop('disabled', true);
                $('#Timerange').prop('disabled', true);
                $('#PackageHeaderId').prop('disabled', true);
                $('#ArriveMeal').prop('disabled', true);

                if ($('#IsEnableArrivalFor').val() == 'false') {
                    $('#ArriveMeal').prop('disabled', true);
                    $('.isBillPaymentFromLKR').prop('disabled', true);
                } else {
                    $('#ArriveMeal').prop('disabled', false);
                    $('.isBillPaymentFromLKR').prop('disabled', false);
                }

            }, 200);
            LoadReservationStatus();
        });

    </script>
}
 
<script>
    var countryId = 0;
    

    $(document).ready(function () {

        //2023-08-10--------------------------------------------------------------------------
        $('.select2').select2();

        setTimeout(function () {
            $('.select2.select2-container').addClass('form-control');
            $('.select2-container--default .select2-selection--single').css({ 'border': 'none', 'border-radius': '0px', 'border-bottom': '1px solid #d2d2d2' });
            $('.select2-selection__arrow').css('display','none');
            $('#select2-DocNo-container').css({ 'margin-top':'-1px', 'cursor':'auto'});
        }, 900);

        $('body').off('click', '.select2').on('click', '.select2', function () {
            setTimeout(function () {
                $('.select2-results ul li').removeClass('select2-results__option--selected');
            }, 200);
        });

        //-------------------------------------------------------------------------------------------

        isCategoryGridLoaded = false;
        isReservationListLoaded = false;
     //   isNoOfRoomsLoaded == false;

        document.getElementById('StayChange-Remark').addEventListener('input', function () {
            var userInput = this.value;
            this.setAttribute('title', userInput)
        })

        LoadCompanies();
        LoadRateCodes();
        LoadAllMarkets();
        LoadArrivalMeals();
        LoadDepartureMeals();
        LoadBookingSources();
        LoadSegments();
        LoadSalesPersons();
        LoadGuestPaymentModes();
        LoadAllPackages();
        loadVisitPuposeCombo();
        LoadAvailabilityGrid(); //---------------------------------------------
        LoadReservationStatus();
        LoadMealPlans();
        LoadRateCodes();
        $('#RoomCategory').attr("disabled", true);
        $('#RoomType').attr("disabled", true);

        timeArrival = $('.timeArrival').val();
        $('.resArrivalTime .time-range').val(timeArrival);

        timeDeparture = $('.timeDeparture').val();
        $('.resDepartureTime .time-range').val(timeDeparture);

        $('#ArrivalDate').prop("disabled", true);
        $('#DepartureDate').prop("disabled", true);
        //  $('#MealPlanId').prop("disabled", true);

        setInterval(function () {
          //  alert(isNoOfRoomsLoaded);
            if (isCategoryGridLoaded == true && isReservationListLoaded == true && isNoOfRoomsLoaded == false) {
                isNoOfRoomsLoaded = true;
                
                PushSelectedReservationList();

            }
        }, 1000)

        var IsBillPaymentFromLKR = $('.IsBillPaymentFromLKR').val();

        if (IsBillPaymentFromLKR == "True") {
            $('.isBillPaymentFromLKR').prop('checked', true);
        } else {
            $('.isBillPaymentFromLKR').prop('checked', false);
        }

    });

    function PushSelectedReservationList() {
        //alert('');
        selectedReservationsArr = [];
        $.each($('.checbox-item'), function (index, item) {
            if ($(item).prop('checked')) {
                reservationObj = {
                    RoomCategoryId: $(item).attr('data-roomCat'),
                    RoomTypeId: $(item).attr('data-roomType')
                }
                selectedReservationsArr.push(reservationObj);
            }

        });

        console.log(selectedReservationsArr);

        $('.room-count').val(0);
        $(selectedReservationsArr).each(function (index, DBitem) {
            var roomCategoryId = DBitem.RoomCategoryId;
            var roomTypeId = DBitem.RoomTypeId;
            $('.room-count').each(function (index2, room) {
                if (($(room).attr('data-roomCategory-id') == roomCategoryId) && ($(room).attr('data-roomType-id') == roomTypeId)) {
                    $(room).val(Number($(room).val()) + 1);
                }
            });

        });
        isAvailabilityLoaded = true;
    }

    $('body').off('change', '.isBillPaymentFromLKR').on('change', '.isBillPaymentFromLKR', function (e) {
        if (confirm('Selecting this will mark folios settled from LKR. This will enable SSCL tax calculation for invoices. Are you sure you want to proceed?')) {
            //if ($(this).prop('checked')) {
            //    $(this).prop('checked', true);
            //} else {
            //    $(this).prop('checked', false);
            //}
        } else {
            if ($(this).prop('checked')) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        }
    });

    function searchReservation() {

        var input, filter, count, tt, b, i, li;

        input = document.getElementById("txtSearch");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");

        for (i = 0; i < li.length; i++) {
            b = li[i].getElementsByTagName("label")[0];
            if (b.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";

            }
        }
    }

    function LoadAvailabilityGrid() {  //---------------------------------------------
        debugger;
        var CountryId = 218;
        var From = $('#StayChange-ArrivalDate').val();
        var To = $('#StayChange-DepartureDate').val();
        var reservationStatusId = -2;
        var IsDormitory = $('#isDormitory').val();
        var reservationForId = 0;

        if (IsDormitory==1) {
            reservationForId=2
        }
        

        $.ajax({
            url: '/reservation/reservations/GetAvailabilityForReservationEdit',
            dataType: 'html',
            method: 'POST',
            data: { CountryId: CountryId, fromDate: From, toDate: To, reservatonStatusId: reservationStatusId, reservationForId: reservationForId },
            beforeSend: function () {
                $('#tableLoadingArea').html('');
                $('#tableLoadingArea').hide();
            },
            success: function (response) {
                $('#tableLoadingArea').html(response);
                $('#tableLoadingArea').show();
            },
            error: function (error) {
            },
            complete: function () {
                isCategoryGridLoaded = true;
                PushSelectedReservationList();
            }
        });
    }

    //$('body').off('change', '#StayChange-ArrivalDate').on('change', '#StayChange-ArrivalDate', function (e) {
    //    isCategoryGridLoaded = false;
    //    LoadAvailabilityGrid();  //---------------------------------------------
    //});

    $('body').off('change', '.ArrivalDate1').on('change', '.ArrivalDate1', function (e) {
        isCategoryGridLoaded = false;
        LoadAvailabilityGrid();  //---------------------------------------------
    });

    //DepartureDate1
    //$('body').off('change', '#StayChange-DepartureDate').on('change', '#StayChange-DepartureDate', function (e) {
    //    isCategoryGridLoaded = false;
    //    LoadAvailabilityGrid();  //---------------------------------------------
    //})

    $('body').off('change', '.DepartureDate1').on('change', '.DepartureDate1', function (e) {
        isCategoryGridLoaded = false;
        LoadAvailabilityGrid();  //---------------------------------------------
    })

    function LoadRateCodes() {
        $.ajax({
            url: '/administration/RateCodeHeaders/SelectActiveRateCodes',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#RateCodeId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#RateCodeId'));
                });
            }, complete: function () {
                $('#RateCodeId').val($('.rateCodeId-hidden').val());
            }
        });
    }

    function LoadAllMarkets() {
        $.ajax({
            url: '/administration/Markets/MarketComboJson',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#MarketId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#MarketId'));
                });
            }, complete: function () {
                $('#MarketId').val($('.marketId-hidden').val());
            }
        });
    }

    function LoadBookingSources() {
        $.ajax({
            url: '/administration/BookingSources/BookingSourceComboJson',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#BookingSourceId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#BookingSourceId'));
                });
            }, complete: function () {
                $('#BookingSourceId').val($('.reservation-bookingSource').val());
            }
        });
    }

    function LoadSegments() {
        $.ajax({
            url: '/administration/Segments/SelectAllSegments',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#SegmentId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#SegmentId'));
                });
            }, complete: function () {
                $('#SegmentId').val($('.reservation-segment').val());
            }
        });
    }

    function LoadSalesPersons() {
        $.ajax({
            url: '/administration/StaffDetails/SelectAllStaffDetails',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#SalesPersonId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#SalesPersonId'));
                });
            }, complete: function () {
                $('#SalesPersonId').val($('#hidden-SalesPersonId').val());
            }
        });
    }

    function LoadAllPackages() {
        $.ajax({
            url: '/administration/PackageHeaders/SelectAllPackageHeaders',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#PackageId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#PackageId'));
                });
            }, complete: function () {
                $('#PackageId').val($('.reservation-packageHeaderId').val());
            }
        });
    }

    function LoadMealPlans() {
        var reservationForId = 0;
        var IsDormitory = $('#isDormitory').val();
        if (IsDormitory == 1) {
            reservationForId = 2
        }

        $.ajax({
            url: '/administration/MealPlans/SelectMealPlansForAvailability',
            dataType: 'json',
            method: 'POST',
            data: { reservationForId: reservationForId},
            success: function (data) {
                $('#MealPlanId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#MealPlanId'));
                });
            }, complete: function () {
                $('#MealPlanId').val($('#ViewMealPlanId').val());//New add
            }
        });
    }

    function LoadArrivalMeals() {
        $.ajax({
            url: '/administration/MealPlans/SelectAllMeals',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#ArriveMealPlanId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#ArriveMealPlanId'));
                });
            }, complete: function () {
                $('#ArriveMealPlanId').val($('.meal-arrivalForId').val());
            }
        });
    }

    function LoadDepartureMeals() {
        $.ajax({
            url: '/administration/MealPlans/SelectAllMeals',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#LeaveMealPlanId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#LeaveMealPlanId'));
                });
            }, complete: function () {
                $('#LeaveMealPlanId').val($('.meal-leaveAfterId').val());
            }
        });
    }

    function LoadGuestPaymentModes() {
        $.ajax({
            url: '/administration/GuestPaymentModes/SelectAllGuestPaymentModes',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#GuestPaymentModeId option').remove();
                $(data).each(function (index, item) {
                    $('<option value="' + item.Id + '" >' + item.Name + '</optoin>').appendTo($('#GuestPaymentModeId'));
                });
            }, complete: function () {
                $('#GuestPaymentModeId').val($('.reservation-guestPaymentModeId').val());
            }
        });
    }

    function LoadCompanies() {
        $.ajax({
            url: '/Administration/Companies/SelectAllCompanies',
            dataType: 'json',
            method: 'get',
            success: function (data) {
                $('#CompanyId').html();
                $.each(data, function (index, item) {
                    $('#CompanyId').append('<option value="' + item.Id + '">' + item.Name + '</option>');
                })
            },
            complete: function () {
                if ($('.reservation-company').length > 0) {
                    LoadReservationCompanyId();
                }

                if ($('.reservation-company').length > 0) {
                    LoadReservationCompanyId();
                }

                $('#CompanyId').val($('#ViewCompanyId').val());
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    $('body').off('click').on('click', '#new-reservation-update', function (e) {
        if (confirm("Are you sure you want to proceed with updating all selected reservations?")) {
            UpdateReservation();
        }
    });

    function UpdateReservation() {
        var room = {};
        var res = {};
        var reservations = [];
        var reservationType = $('#ReservationType').val();

        //$.each($('.room-checkBox'), function (index, item) {
        //    if ($(item).prop('checked')) {

        //    }
        //});

        $.each($('.checbox-item'), function (index, item) {
            if ($(item).prop('checked')) {
                res = {
                    ReservationHeaderId: $(item).val()
                }
                reservations.push(res);
            }
        });

        reservationDetails = {
            Arrival: $('#StayChange-ArrivalDate').val(),
            Departure: $('#StayChange-DepartureDate').val(),
            MealPlanId: $('#MealPlanId').val(),
            NoOfAdults: $('#NoOfAdults').val(),
            NoOfKids: $('#NoOfKids').val(),
            Infants: $('#Infants').val(),
            AgentId: $('#CompanyId').val(),
            MarketId: $('#MarketId').val(),
            RateCodeHeaderId: $('#RateCodeId').val(),
            BookingSourceId: $('#BookingSourceId').val(),
            SegmentId: $('#SegmentId').val(),
            VoucherNo: $('#VoucherNo').val(),
            TourNo: $('#TourNo').val(),
            StatusId: $('#StatusId').val(),
            SalesPersonId: $('#SalesPersonId').val(),
            SalesPersonContactNo: $('#SalesPersonContact').val(),
            ArrivalForId: $('#ArriveMealPlanId').val(),
            LeaveAfterId: $('#LeaveMealPlanId').val(),
            ExpectedArrivalTime: $('#ExpectedArrivalTimeId #Timerange').val(),
            ExpectedDepartureTime: $('#ExpectedDepartureTimeId #Timerange').val(),
            BookingRemark: $('#RemarkId').val(),
            GuestPaymentMode: $('#GuestPaymentModeId').val(),
            PackageHeaderId: $('#PackageId').val(),
            VisitPurposeId: $('#VisitPurposeId').val(),
            StayChangeReasonId: $('#StayChangeReasonId').val(),
            StayChangeRemark: $('#StayChange-Remark').val()

        }

        var typeWiseNumbersInTr = [];
        var trWiseRoomCategory = [];
        var trWiseRoomDetail;

        //$('.roomDetail tr').not(':first-child').each(function (index, EachTr) {
        //    var thList = $('.roomDetail').find('.room-type-inEach-tr');
        //    var valuesInEachTr = $(EachTr).find('.room-count');

        //    $(thList).each(function (index, eachTh) {
        //        if (parseInt($(valuesInEachTr[index]).val()) > 0) {
        //            tdWiseRoomDetail = {
        //                roomTypeId: $(eachTh).find('#roomTypeId').val(),
        //                roomType: $(eachTh).find('input[type=hidden]').data('room-name'),
        //                count: $(valuesInEachTr[index]).val(),
        //                roomCategoryId: $(EachTr).find('#roomCatId').val()
        //            }
        //            typeWiseNumbersInTr.push(tdWiseRoomDetail);
        //        }
        //    })

        //    trWiseRoomDetail = {
        //        RoomCategoryName: $(EachTr).find('.hidden-room-cat-name').data('itrm-name'),
        //        roomCategoryId: $(EachTr).find('#roomCatId').val(),
        //        IsPromotion: $(EachTr).find('#promoval').val(),
        //        roomTypeArrineachTr: typeWiseNumbersInTr,
        //    };

        //    trWiseRoomCategory.push(trWiseRoomDetail);
        //    typeWiseNumbersInTr = [];

        //});

        $('.room-count').each(function (index, item) {
            if ($(item).val() != undefined && $(item).val() != null && $(item).val() > 0) {
                var obj = {};
                obj.roomCategoryId = $(item).attr('data-roomcategory-id');
                obj.roomTypeId = $(item).attr('data-roomtype-id');
                obj.count = $(item).val();

                typeWiseNumbersInTr.push(obj);
            }
        });

        var roomDetails = JSON.stringify(typeWiseNumbersInTr);
        var reservationNos = JSON.stringify(reservations);
        var reservationDetails = JSON.stringify(reservationDetails);

        var IsBillPaymentFromLKR = "";

        if ($('input.isBillPaymentFromLKR').is(':checked')) {
            IsBillPaymentFromLKR = "true"
        } else {
            IsBillPaymentFromLKR = "false"
        }

        $.ajax({
            url: '/reservation/reservations/ReservationUpdateNew',
            dataType: 'json',
            method: 'POST',
            data: { reservationDetails: reservationDetails, roomDetails: roomDetails, reservationNos: reservationNos, reservationType: reservationType, isBillPaymentFromLKR: IsBillPaymentFromLKR },
            success: function (response) {
                if (response == "OK") {
                    ShowSuccessMessage("Reservation updated succsessfully.");
                    setTimeout(function () {

                        //Update Uuid
                        window.location.href = "/reservation/reservations/list/" + $('#hidden-Uuid').val();
                        console.log("Uuid");

                    }, 2500);
                }
                else {
                    ShowWarningMessage(response);
                }
            },
            error: function (error) {
                ShowErrorMessage("Error in reservation update.");
            }, complete: function () {

            }
        });
    }

    $('body').off('change', '.checbox-item').on('change', '.checbox-item', function (e) {
        //alert('');
        PushSelectedReservationList();
    });
    //checbox-select-all




    var selectedReservationsArr = [];
    var reservationObj = {};

    

    $('#grid-record-detail-model-close').on('click', function (evt) {
        window.location.reload();
    });


    //$('body').off('change', '.room-count').on('change', '.room-count', function (e) {
    //    e.preventDefault();
    //    var thisController = $(this);
    //    var maxAvailability = $(this).attr('data-max-availability');
    //    var currentRow = $(this).closest('tr');
    //    var currrentRoomSelectedCount = 0;

    //    $.each(currentRow.find('.room-count'), function (index, item) {
    //        currrentRoomSelectedCount = currrentRoomSelectedCount + Number($(item).val());
    //    });

    //    if (maxAvailability < currrentRoomSelectedCount) {
    //      //  $(thisController).val(maxAvailability);
    //        ShowWarningMessage('You have selected maximum available rooms.');
    //        return false;
    //    }
    //    //else {
    //    //    DrawRoomCountGrid();
    //    //}
    //});

</script>