@model Scienter.HotelERP.Common.Domain.AdvanceRequestOnline
@using Scienter.HotelERP.Common.Utility
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <title>Jetwing Hotels</title>
</head>

<body style="width: 630px;height: auto;padding: 0;margin: auto;background: #fafafa;box-shadow: 0px 2px 9px rgba(157, 157, 157, 0.25);">
    <section style="width: 630px; margin-top: 5%; height: auto">
        <div class="row mb-0">
            <div class="col-12">
                <img src="~/Images/assets/images/images.png" class="img-fluid" alt="envelop-image" style="height: 43px;margin-left: 208px;margin-top: 25px;" />
                @*<img src="@Configs.GetAppSettingValue("WebsiteURL")/Images/assets/images/email-new.png" class="img-fluid" alt="envelop-image" style="display: block;margin-left: auto;margin-right: auto;width: 100%;height: 230px;" />*@
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-5 mb-2" style="font-family: 'Roboto Flex', sans-serif;font-weight: 600;font-size: 16px;color: #2f2f2f;">
                <div style="width: 568px;height: 56px;margin-left: 31px;background: #7F7A00;margin-top: -35px;">
                    <p style="color: white">
                        Advanced Payment for @Model.ReservationNo
                    </p>
                </div>
            </div>
        </div>

        <div class="row pl-4 pr-4 pt-4 mb-2">
            <div class="col-12">
                @*<div class="row">*@
                <div class="col-12 mb-4" style="font-family: 'Roboto Flex', sans-serif;font-weight: 400;font-size: 15px;color: #2f2f2f;">
                    Dear @Model.GuestName,
                </div>
                <div class="col-12 mb-4"
                     style="font-family: 'Roboto Flex', sans-serif;font-weight: 400;font-size: 12px;color: #2f2f2f; line-height: 14px;">
                    @*@Model.Body*@
                    Thank you for choosing Jetwing Kandy Gallery for your upcoming holiday in our paradise
                    island. A tentative reservation has been made under your name.
                </div>
                <div class="col-12 mb-4">
                    <table style="border:1px;display: flex;float: left;font-family: 'Roboto Flex', sans-serif;font-weight: 600;font-size: 12px;color: #2f2f2f;">
                        <tr>
                            <td>
                                Group Reservation no
                            </td>
                            <td>:</td>
                            <td>
                                @Model.GroupReservationNo
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Reservation no
                            </td>
                            <td>:</td>
                            <td>
                                @Model.ReservationNo
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Check-in-date
                            </td>
                            <td>:</td>
                            <td>
                                @Model.ArrivalFm
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Check-out-date
                            </td>
                            <td>:</td>
                            <td>
                                @Model.DepartureFm
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total amount
                            </td>
                            <td>:</td>
                            <td>
                                @Model.CurrencyCode @Model.TotalAmountFm
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 mb-4" style="display: flex;float: left;font-family: 'Roboto Flex', sans-serif;font-weight: 600;font-size: 12px;color: #2f2f2f;">
                    <table style="border:1px;width: 100%;" id="table2">
                        <tr>
                            <th style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">
                                Room Type
                            </th>
                            <th style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">
                                Meal Basis
                            </th>
                            <th style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">
                                Occupancy
                            </th>
                            <th style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">
                                Qty
                            </th>
                        </tr>
                        <tr>
                            <td style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">@Model.RoomCategory</td>
                            <td style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">@Model.MealBasis</td>
                            <td style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">@Model.RoomType</td>
                            <td style=" border: 1px solid #dddddd;text-align: left;padding: 8px;">@Model.RoomCount</td>
                        </tr>
                    </table>
                </div><br /><br /><br />
                <div class="col-12 mb-4" style="font-family: 'Roboto Flex', sans-serif;font-weight: 400;font-size: 12px;color: #2f2f2f; line-height: 15px;">
                    In order to confirm the above reservtion, please be kind enought to make @Model.CurrencyCode @Model.ReduceAmountFm advance payment by clicking the below button:
                </div>
                <div class="col-12 mb-4">
                    <div class="mr-2" style="display: flex;float: left;font-family: 'Roboto Flex', sans-serif;font-weight: 600;font-size: 14px;color: #2f2f2f;">
                        Paid Amount:
                    </div>
                    <div> @Model.CurrencyCode @Model.ReduceAmountFm</div>
                </div>
                <div class="col-12 mb-4">
                    <a href="@Configs.GetAppSettingValue("WebsiteURLPayment")payment/request/@Model.Uuid" target="_blank" id="urlId">
                        <button class="btn MakePayment" target="_blank" data-uuid="" style="background: #ED008C;border-radius: 12px;color: #ffffff;width: 155px;">
                            Pay Now
                        </button>
                    </a>
                </div>
                <div class="col-12 mb-4" style="font-family: 'Roboto Flex', sans-serif;font-weight: 400;font-size: 12px;color: #2f2f2f; line-height: 15px;">
                    If the above button does not work,copy below URL and paste is on your preferred browser:
                    @Configs.GetAppSettingValue("WebsiteURLPayment")payment/request/@Model.Uuid
                </div>
                <div class="col-12 mb-4" style="text-align: justify;font-family: 'Roboto Flex', sans-serif;font-weight: 400;font-size: 12px;color: #2f2f2f; line-height: 28px;">
                    The balance payment Of @Model.CurrencyCode @Model.DueAmountFm has to be paid at the hotel at the time of check-in.
                </div>
                <div class="col-12 mb-4" style="font-family: 'Roboto Flex', sans-serif;font-weight: 400;font-size: 12px;color: #2f2f2f; line-height: 15px;">
                    Should you request any further clarification,call us on +94 11 470 9400 or email us at reservation@jetwinghotels.com
                </div>
            </div>
        </div>
        @*</div>*@
    </section>
    <div class="footer" style="background-size: 100%; background-repeat: no-repeat;display: inline-block; height: 180px;width: 100%;">
        <div class="d-flex">
            <div class="col-03" style="font-family: 'Roboto Flex', sans-serif;/* font-weight: 600; */font-size: 10px;color: #2b2d30;margin-left: 25px;margin-left: 38px;">
                Jetwing Kandy Gallery<br />
                De Soysa Estate Gonawatta Maligathanne Gurudeniya, Haragama,<br />
                Kandy,Sri Lanka.<br />
                Hotel:+94(0) 81 203 4000<br />
                Reservation:+94 11 470 9400<br />

                <img src="~/Images/assets/logos/hotel-logo.png" style="width: 120px; padding-left: 20px;margin-top: 15px;" />
            </div>
        </div>
    </div>
</body>
</html>
