@model  IEnumerable<Scienter.HotelERP.Common.Domain.RoomStatus>

@{
    ViewBag.Title = "Exising Room Status";
}

<div class="table-responsive">
    <table class="table table-striped"
           id="existingRoomStatusGrid"
           data-page-index="1"
           data-page-size="5"
           data-page-count="@Model.FirstOrDefault().PageCount"
           data-filter-type="2"
           data-search-keyword=""
           data-grid-top-functionalities="true"
           data-grid-pageable="true"
           data-grid-sortable="true">
        <tr>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.RoomStatusCategoryId)
            </th>
            <th class="text-primary">
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th class="col-md-1 text-primary">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th class="col-md-1 hidden-print"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomStatusCategoryName)
                </td>
                <td>
                    <div style="height:30px; width:30px;">
                        <div style="background-color:@item.ColorValue; width:32px; height:25px;">

                        </div>
                    </div>
                </td>
                <td class="col-md-1">
                    <div class="form-group checkbox">
                        <label>
                            @Html.DisplayFor(modelItem => item.IsActive)
                            <span class="hidden">
                                @if (item.IsActive)
                                {
                                    @:Active
                                    }
                                else
                                {
                                    @:Inactive
                                    }
                            </span>
                        </label>
                    </div>

                </td>
                <td class="hidden-print text-right">
                    @*<a class="btn btn-theme-color-2 btn-sm call-popup-model" id="btnPrint" data-title="Bed Type - @item.Name" data-href="/housekeeping/roomstatus/print/@item.Id">
                        <span class="glyphicon glyphicon-print"></span>
                    </a>*@

                    <a class="btn btn-theme-color-2 btn-sm" id="btnEdit" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#contentLoadingArea" href="/housekeeping/roomstatus/edit/@item.Id">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <a class="btn btn-danger btn-sm call-popup-model-delete" id="btnDelete" data-href="/housekeeping/roomstatus/delete/@item.Id">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>


