@model Scienter.HotelERP.Common.Domain.ViewModels.BillPaymentView
@using Scienter.HotelERP.Common.Domain

<link href="~/Select2/css/select2.min.css" rel="stylesheet" />
<script src="~/Select2/js/select2.full.min.js"></script>

<style>
    /*2023-08-16---------------------------------------------------------------------*/
    .select2-results {
        line-height: 12px !important;
        font-size: 12px !important;
    }

        .select2-results ul li {
            color: black !important;
            font-family: 'Roboto', sans-serif !important;
            font-weight: 200 !important;
            cursor: auto;
        }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: #0078D4 !important;
        color: white !important;
    }

    .select2-selection__rendered {
        color: #0a1324;
    }

    .select2-search--dropdown .select2-search__field {
        height: 26px;
        font-size: 14px;
    }

    .select2-container--default .select2-results > .select2-results__options {
        overflow-x: hidden;
    }

    .control-label {
        z-index: 1 !important;
    }

    .select2-container {
        width: 100% !important;
    }
    /*-------------------------------------------------------------------------------*/
</style>

<form id="BillPaymentLoadingView">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" value="@Scienter.HotelERP.Common.Utility.Configs.GetAppSettingValue("IsDirectPrint")" name="" id="IsDirectPrint" />


    @if (ViewBag.IsFolioScreen == "1")
        {
            <input type="hidden" value="1" id="IsFolioScreen" />
        }

    <input type="hidden" value="@Model.GrandTotal" id="hdnBillTotal" />
    <input type="hidden" value="@Model.AllowCreditPosting.ToString()" id="hdnAllowCreditPosting" />
    <br />
    <div class="row">
        @*IShara 2024-09-27*@
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row" style="margin-right:10px;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Select PaymentType <span class="required-asterisk" style="color: red;">*</span></label>
                                        <select class="select2 form-control" id="PaymentTypeId" required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="hidden" id="alertId">
                                        <label style="color:red">Cash Payment Type can be Selected only once</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-6">
                                    <label class="control-label text-right">Amount <span class="required-asterisk" style="color: red;">*</span></label>
                                    <input autocomplete="off" class="form-control text-box single-line number number-only" id="PaymentAmount" name="Amount" required type="text" value="" style="text-align:right !important;">
                                    <div class="hidden" id="ErralertId">
                                        <label style="color:red">Payment Amount is greater Than Total/Balance Amount</label>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label text-right">Balance</label>
                                    <input autocomplete="off" readonly="readonly" class="form-control text-box single-line number number-only" id="Balance" name="Balance" required type="text" value="" style="text-align:right !important;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label remarks-label">Remarks</label>
                                        <input autocomplete="off" class="form-control text-box single-line" maxlength="150" required id="PaymentRemark" name="Remarks" type="text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-12" style="text-align:right">
                                    <label class="control-label" style="font-size:16px;color:#555; font-weight:bold; margin-bottom:10px !important;"> Bill Total</label>
                                    <br />
                                    <b id="BillTotal" style="font-size:35px;"></b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped" id="billSettleTable" style="width:100%">
                                        <tr>
                                            <th>Payment Type</th>
                                            <th>Remarks</th>
                                            <th style="text-align:right">Amount</th>

                                            <th style="text-align:right"></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <input type="submit" id="btnAddPaymentToGrid" value="Add" class="btn btn-primary" />
            <input type="button" value="Settle" id="Completebtn" class="btn btn-primary disabled" />
            <input type="button" value="City Ledger" id="CityLedger" class="btn hidden" style="background-color:#b11a3d" />

            @if (Scienter.HotelERP.Common.Utility.Configs.GetAppSettingBoolValue("IsDirectPrint"))
            {
                <button id="BtnPrintBill" class="btn btn-primary hidden hidden-print" target="">
                    <span class="glyphicon glyphicon-print"></span>
                </button>
            }
            else
            {
                <a id="BtnPrintBill" class="btn btn-primary hidden hidden-print" target="_blank">
                    <span class="glyphicon glyphicon-print"></span>
                    <div class="ripple-container"></div>
                </a>

            }
            @*<button id="BtnLKRBill" class="btn btn-primary hidden hidden-print" style="background-color:#2f9b04 !important;" target="_blank">
            <span class="glyphicon glyphicon-tasks"></span>
            <div class="ripple-container"></div>
        </button>*@
            <a id="BtnLKRBill" class="btn btn-primary hidden hidden-print" style="background-color:#2f9b04 !important;" target="_blank">
                @SessionObjects.LocalCurrency.ISOCode Bill
            </a>

            <button id="BtnShareBill" type="button" class="btn hidden hidden-print">
                <span class="glyphicon glyphicon-send"></span> Share
            </button>

        </div>
    </div>

</form>

@*<script src="~/Scripts/ui/reservation-list/side-buttons/biil-payment.js"></script>*@

<script>

    $(document).ready(function () {
        //2023-08-16--------------------------------------------------------------------------
        $('.select2').select2();

        setTimeout(function () {
            $('.select2.select2-container').addClass('form-control');
            $('.select2-container--default .select2-selection--single').css({ 'border': 'none', 'border-radius': '0px', 'border-bottom': '1px solid #d2d2d2' });
            $('.select2-selection__arrow').css('display', 'none');
            $('#select2-DocNo-container').css({ 'margin-top': '-1px', 'cursor': 'auto' });
        }, 900);

        $('body').off('click', '.select2').on('click', '.select2', function () {
            setTimeout(function () {
                $('.select2-results ul li').removeClass('select2-results__option--selected');
            }, 200);
        });

        //-------------------------------------------------------------------------------------------

        loadPaymentTypeCombo();
        RemarkRequiredVerificationByPaymentType();


        @* Added By ishara on 2024 - 12 - 06 -- Modification for anable City Ledger allowCreditPosting *@
        var enableCityLedgerForGroupSettlement = 0;

        if (IsGroupSettlement == 1 && GroupMergeAllowCreditPosting == 1) {
            enableCityLedgerForGroupSettlement = 1;
        }

        //Load Payment details for the Folio Management
        @* Added By ishara on 2024 - 12 - 06 -- Modification for anable City Ledger allowCreditPosting *@
        if ($('#IsFolioScreen').val() == "1" || enableCityLedgerForGroupSettlement ==1) {

            @* Added By ishara on 2024 - 12 - 06 -- Modification for anable City Ledger allowCreditPosting *@
            if ($('#hdnAllowCreditPosting').val() == "True" || enableCityLedgerForGroupSettlement == 1) {
                $('#CityLedger').removeClass('hidden');
            }
            @* Added By ishara on 2024 - 12 - 06 -- Modification for anable City Ledger allowCreditPosting *@
            if (IsGroupSettlement != 1 && GroupMergeAllowCreditPosting != 1) {
                Billtotal = parseFloat($('#hdnBillTotal').val().toString().trim().replace(/,/g, '')).toFixed(2)
                $('#Balance').val(Billtotal);
                $('#PaymentAmount').val(Billtotal);
                $('#BillTotal').text(Billtotal).digits();
            }

        }
        if (AllowCreditPostingInWalkingPosting == 'True') {
            $('#CityLedger').removeClass('hidden');
        }
        if (Billtotal == 0) {
            setTimeout(function () {
                $('#PaymentTypeId').val(4);
            }, 1000);
        }

        $('#Balance').val(Billtotal);
        $('#PaymentAmount').val(Billtotal);
      
        $('#BillTotal').text(Billtotal).digits();

        billpaymentArray = [];

        if ($('#PrintingMethod').val() == 'F') {
            $('#btnprint').addClass('hidden');
        }  

        var mcCurrencyCode = $('#MultiCurrencyAdvanceCurrencyId option:selected').text();

        var texttodispaly = mcCurrencyCode + ' ' + Billtotal;

        $('#BillTotal').text(texttodispaly).digits();
    });

    var balance = 0;
    var payTotAmount = 0;

    function loadPaymentTypeCombo() {

        $.ajax({
            url: '/Administration/PaymentModes/Select',
            dataType: 'json',
            method: 'GET',
            success: function (data) {
                $("#PaymentTypeId").html('');
                $("#PaymentTypeId").append('<option value="" disabled selected>Select a payment mode</option>');
                $.each(data, function (index, item) {
                    $("#PaymentTypeId").append('<option value="' + item.Id + '" data-IsGainAndLoss="' + item.IsAllowGainAndLoss + '"  required-remarks ="' + item.IsRemarkRequired + '">' + item.Name + '</option>');
                });
            },
            error: function (xhr, status, error) {
                ShowErrorMessage('Sorry, There is an error.');
            }
        });

    }

    //OLD
    //$('#PaymentTypeId').change(function () {
    //    debugger;
    //    RemarkRequiredVerificationByPaymentType();
    //    if ($('#PaymentTypeId option:selected').attr('data-IsGainAndLoss') == "true") { ///gain and loss settlemenet to allow minus value

    //        Billtotal = parseFloat($('#hdnBillTotal').val().toString().trim().replace(/,/g, '')).toFixed(2)
    //        if (Billtotal != 0) {
    //            $('#PaymentAmount').removeClass('number');
    //            $('#Balance').removeClass('number');
    //            Billtotal = parseFloat($('#hdnBillTotal').val().toString().trim().replace(/,/g, '')).toFixed(2)
    //            $('#Balance').val(Billtotal);
    //            $('#PaymentAmount').val(Billtotal);
    //            $('#BillTotal').text(Billtotal).digits();
    //        }
    //    }
    //});

    //NEW
    $('#PaymentTypeId').change(function () {
        debugger;
        RemarkRequiredVerificationByPaymentType();
        if ($('#PaymentTypeId option:selected').attr('data-IsGainAndLoss') == "true") { ///gain and loss settlemenet to allow minus value

            Billtotal = parseFloat($('#hdnBillTotal').val().toString().trim().replace(/,/g, '')).toFixed(2)
            if (Billtotal != 0) {
                $('#PaymentAmount').removeClass('number');
                $('#Balance').removeClass('number');
                Billtotal = parseFloat($('#hdnBillTotal').val().toString().trim().replace(/,/g, '')).toFixed(2)
                $('#Balance').val(Billtotal);
                $('#PaymentAmount').val(Billtotal);
                $('#BillTotal').text(Billtotal).digits();
            }
        }
    });

    //OLD
    //function RemarkRequiredVerificationByPaymentType() {
    //    let $remarkLabel = $('.remarks-label');

    //    if ($('#PaymentTypeId option:selected').attr('required-remarks') == "true") {
    //        $('#PaymentRemark').prop('required', true);
    //        if (!$remarkLabel.find('span.required-asterisk').length) {
    //            $remarkLabel.append('<span class="required-asterisk" style="color: red;"> *</span>');
    //        }
    //    } else {
    //        $('#PaymentRemark').prop('required', false);
    //        $remarkLabel.find('span.required-asterisk').remove();
    //    }
    //}

    //NEW
    function RemarkRequiredVerificationByPaymentType() {
        let $remarkLabel = $('.remarks-label');

        if ($('#PaymentTypeId option:selected').attr('required-remarks') == "true") {
            $('#PaymentRemark').prop('required', true);
            if (!$remarkLabel.find('span.required-asterisk').length) {
                $remarkLabel.append('<span class="required-asterisk" style="color: red;"> *</span>');
            }
        } else {
            $('#PaymentRemark').prop('required', false);
            $remarkLabel.find('span.required-asterisk').remove();
        }
    }

    $("#PaymentAmount").focusout(function () {

        if (Number(parseFloat($('#Balance').val().trim().replace(/,/g, '')).toFixed(2)) < Number(parseFloat($('#PaymentAmount').val().trim().replace(/,/g, '')).toFixed(2))) {

            $('#ErralertId').removeClass('hidden');
            $('#btnAddPaymentToGrid').addClass('disabled');
        }
        else {
            $('#btnAddPaymentToGrid').removeClass('disabled');
            $('#ErralertId').addClass('hidden');
        }
    });

    $('body').on('click', '#btnAddPaymentToGrid', function (e) {

        if (Number(parseFloat($('#Balance').val().trim().replace(/,/g, '')).toFixed(2)) < Number(parseFloat($('#PaymentAmount').val().trim().replace(/,/g, '')).toFixed(2))) {
            $('#ErralertId').removeClass('hidden');

            $('#btnAddPaymentToGrid').addClass('disabled');
        }
        else {
        }

    });

    $('#CityLedger').click(function () {

        if (Number(parseFloat($('#PaymentAmount').val().trim().replace(/,/g, '')).toFixed(2)) == Number(parseFloat(Billtotal.trim().replace(/,/g, '')).toFixed(2))) {
            $('#btnAddPaymentToGrid').prop('disabled', true);
            $('#PaymentRemark').val("Company Settlement");
            $.ajax({
                url: '/Administration/PaymentModes/SelectPayCodeForCompanySettlement',
                dataType: 'json',
                method: 'GET',
                async: false,
                success: function (response) {
                    if (response.toString().startsWith('ERR-')) {
                        ShowErrorMessage("Sorry, There is an error.");
                    } else {
                        $('#PaymentTypeId option:selected').text(response.Name);
                        $('#PaymentTypeId option:selected').val(response.Id)
                    }
                },
                error: function (xhr, status, error) {
                    ShowErrorMessage('Sorry, There is an error.');
                }
            });

            FillSettlementTable();
            GetBalance();
            $('#Completebtn').removeClass('disabled');
            $('#CityLedger').prop('disabled', true);
            $('#btnAddPaymentToGrid').addClass('disabled');
        }
        else {
            ShowErrorMessage("Selltel  Bill as " + "Company Settlement" + "The Amount should be same as Bill Total");
        }

    });

    //$('body').off("submit", "#BillPaymentLoadingView");-- also working    this will avoid multiple submits
    //Reference: https://stackoverflow.com/questions/30505375/form-submitted-multiple-times?rq=1
    $('body').off('submit').on('submit', '#BillPaymentLoadingView', function (e) {

        e.preventDefault();
        if ($("#PaymentTypeId option:selected").val() == '') {
            ShowWarningMessage("Please select the payment type.");
        }
        else {
            FillSettlementTable();
            GetBalance();
            $('#PaymentRemark').val("");
            changeButtonStatus();
        }

    });

    function FillSettlementTable() {

        var a = $('#PaymentTypeId option:selected').text();
        if (a == 'Cash' && $('#billSettleTable td:contains(' + a + ')').length) {

            $('#alertId').removeClass('hidden');
        }
        //if ($('#billSettleTable td:contains(' + a + ')').length) {

        // $('#alertId').removeClass('hidden')
        // }
        else {
            $('#alertId').addClass('hidden')
            billpaymentArray.push({
                PaymentTypeId: $('#PaymentTypeId option:selected').val(),
                PaymentTypeName: $('#PaymentTypeId option:selected').text(),
                Amount: parseFloat($('#PaymentAmount').val().trim().replace(/,/g, '')).toFixed(2),
                Remarks: $('#PaymentRemark').val() == "" ? 'Settle By' + $("#PaymentTypeId option:selected").text() : $('#PaymentRemark').val()
            });
            $('<tr>' +
                '<td>' + $('#PaymentTypeId option:selected').text() + '</td>' +
                '<td>' + $('#PaymentRemark').val() + '</td>' +
                '<td id="payAmount" class="payAmount formatNumber">' + $('#PaymentAmount').val() + '</td>' +
                '<td style="text-align:right"><button type="button" class="btn btn-danger btn-sm rowPaymentDelbtncls" id="rowPaymentDelbtn"> <span class="glyphicon glyphicon-minus"></span>  </button></td>' +
                '</tr>').appendTo('#billSettleTable');
        }
    }

    function GetBalance() {

        var gridTotal = 0;
        $('.payAmount').each(function (index, element) {
            $('.payAmount').removeClass('formatNumber');
            gridTotal = gridTotal + parseFloat($(element).text().replace(/,/g, ''))
            $('.payAmount').addClass('formatNumber');
        });
        balance = parseFloat(Billtotal.trim().replace(/,/g, '')).toFixed(2) - gridTotal.toFixed(2);
        $('#Balance').val(Number(parseFloat(balance).toFixed(2)).toLocaleString('en', { minimumFractionDigits: 2 }));
        $('#PaymentAmount').val(Number(parseFloat(balance).toFixed(2)).toLocaleString('en', { minimumFractionDigits: 2 }));

    }

    $('#billSettleTable').on('click', '#rowPaymentDelbtn', function () {
        // erase from array

        var i = 0;
        i = $(this).closest('tr').index()
        if (i == 0) {
            billpaymentArray.splice(i, 1);
        }
        else {
            billpaymentArray.splice(i - 1, 1);
        }

        // delete row
        $(this).closest('tr').remove();
        GetBalance();
        changeButtonStatus();
        $('#PaymentRemark').val("");
        $('#alertId').addClass('hidden');
        $('#CityLedger').prop('disabled', false);
        loadPaymentTypeCombo();
        RemarkRequiredVerificationByPaymentType();
    });

    $('#Completebtn').click(function () {
        if ($('#PrintingMethod').val() == 'F') {
            $('#btnprint').addClass('hidden');
        } 
        else {
            setTimeout(function () {
                $('#btnprint').removeClass('disabled');
            }, 1000);
            
        }  


        if ($('#ExtraPostingType').val() =="P") {
            SaveLaterSettlementBill();
        } 
        else {
            SaveBill();

        }
        
        $('#paid_tampseal').removeClass('hidden');
        $('#btnbillpayment').addClass('disabled');
        $('#btnSave').removeClass('disabled');

        //$('#AdvancedPayAmount').addClass('disabled');
        if ($('#IsFolioScreen').val() == "1") {
            $('#BtnPrintBill').removeClass('hidden');
            $('#BtnLKRBill').removeClass('hidden');
            $('#BtnShareBill').removeClass('hidden');
            $('#Completebtn').addClass('disabled');
        } else if ($('#advancePaymentVia').val() == "fromRes") {

        } else {
            $('#grid-record-detail-model').modal('hide');
        }
        
        //$('#btnprint').removeClass('disabled');
        $('#Save').addClass('disabled');
        $('.ribbon').addClass('hidden');
        $('#paymentTable').removeClass('hidden');
        $('#btnAdd').addClass('disabled');
        $.each(billpaymentArray, function (index, element) {
            $('<tr><td style="width:75%;">' + element.PaymentTypeName + '</td><td style="width:25%; text-align:right">' + Number(element.Amount).toLocaleString('en', { minimumFractionDigits: 2 }) + '</td> </tr>').appendTo('#paymentTable');

            payTotAmount = payTotAmount + Number(element.Amount)
        })

        $('<tr><td style="font-weight:bold; font-size:15Px;width:75%;">' + "Balance Due" + '</td>' +
            '<td style="font-weight:bold; font-size:15Px;width:25%; text-align:right">' + Number(parseFloat(Billtotal.trim().replace(/,/g, '')).toFixed(2) - payTotAmount).toFixed(2) + '</td>' +
            '</tr>').appendTo('#paymentTable');
    });

    function changeButtonStatus() {
        if ((balance == 0) || $('#PaymentTypeId option:selected').attr('data-IsGainAndLoss') == "true") { ///gain and loss settlemenet to allow minus value
            $('#btnAddPaymentToGrid').prop('disabled', true);
            $('#Completebtn').removeClass('disabled');
        }
        else {
            $('#btnAddPaymentToGrid').prop('disabled', false);
            $('#Completebtn').addClass('disabled');
        }
    }

    $.fn.digits = function () {
        return this.each(function () {
            $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
        })
    }

    function SaveLaterSettlementBill() {
        var extrapostingId = $('#ExtraPostingId').val();
        var paymentTypes = JSON.stringify(billpaymentArray);

        $.ajax({
            url: '/CashieringAndPosting/Posting/SaveLaterSettlement',
            dataType: 'json',
            data: { extrapostingId: extrapostingId, paymentTypes: paymentTypes},
            method: 'POST',
            success: function (response) {
                if (response.toString().startsWith('Err-')) {
                    ShowWarningMessage(response.toString().replace("ERR-", ""));
                } else {
                    ShowSuccessMessage('Record has been saved successfully.');
                    LoadPendingExtraPostingsToSettle();
                    $('#btnprint').removeClass('disabled');
                }
            },
            error: function (xhr, status, error) {
                ShowErrorMessage('Sorry, There is an error in saving this record.');
            }
        });
    }
    

</script>
