@model IEnumerable<Scienter.HotelERP.Common.Domain.RoomCategory>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped"
                   id="existingRoomCategoryGrid">
                <thead>
                    <tr>
                        <th class="col-md-2 text-primary">
                            Code
                        </th>

                        <th class=" text-primary">
                            Name
                        </th>
                        <th class=" text-primary">
                            Rank
                        </th>
                        @*<th class="text-primary">
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
                        <th class="col-md-1 text-primary">
                            Display Order
                        </th>
                        @*<th class="col-md-1">
            @Html.DisplayNameFor(model => model.IsApplicableForIBE)
        </th>*@
                        <th class="col-md-1 text-primary">
                            Active
                        </th>
                        <th class="col-md-1 text-primary"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Prefix)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rank)
                        </td>

                        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        @*<td>
            @Html.DisplayFor(modelItem => item.IsApplicableForIBE)
        </td>*@
                        <td>
                            <div class="form-group checkbox">
                                <label>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                    <span class="hidden">
                                        @if (item.IsActive)
                                        {
                                            @:Active
                                        }
                                        else
                                        {
                                            @:Inactive
                                        }
                                    </span>
                                </label>
                            </div>

                        </td>
                        <td class="text-right">
                            @*<a class="btn btn-theme-color-2 btn-sm call-popup-model" id="btnPrint" data-title="Room Category - @item.Name" data-href="/administration/roomcategories/print/@item.Id">
                <span class="glyphicon glyphicon-print"></span>
            </a>*@

                            <a class="btn btn-theme-color-2 btn-sm" id="btnEdit" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#content" href="/administration/roomcategories/edit/@item.Id">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>

                            <a class="btn btn-danger btn-sm call-popup-model-delete" id="btnDelete" data-href="/administration/roomcategories/delete/@item.Id">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#existingRoomCategoryGrid').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: true,
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                    'copy',
                    'excel',
                    'csv',
                    'pdf',
                    'print'
                ],
                scrollY: '58vh',
            });
    });
</script>
