

@model  List<Scienter.HotelERP.Common.Domain.VisitPlace>
@{
    ViewBag.Title = "Guest Portal Promotion";
}

<div class="table-responsive">
    <table class="table table-striped" id="guestPortalVisitPlaces">
        <thead>
            <tr>
                <th class="col-md-4 text-primary">
                    Name
                </th>
                <th class="col-md-5 text-primary">
                    Description
                </th>
                <th class="col-md-5 text-primary">
                    Image
                </th>
                <th class="col-md-5 text-primary">
                    Distance
                </th>
                <th class="col-md-5 text-primary">
                    Duration
                </th>
                <th class="col-md-5 text-primary">
                    Google Map Url
                </th>
                <th class="col-md-1 text-primary">
                    DisplayOrder
                </th>
                <th class="col-md-1 text-primary">
                    Active
                </th>
                <th class="col-md-1 text-primary">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="height: 36px !important;">
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.FullImageURL))
                        {
                            var fullPath = item.FullImageURL.StartsWith("http", StringComparison.OrdinalIgnoreCase)
                                ? item.FullImageURL
                                : System.Web.Configuration.WebConfigurationManager.AppSettings["VButlerAPIBaseUrl"] + item.FullImageURL;

                            <img src="@fullPath" alt="Visit Place Image" style="width:80px; height:auto; border-radius:8px;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                    <td>
                        @item.Distance
                    </td>
                    <td>
                        @item.Duration
                    </td>
                    <td>
                        @item.GoogleMapUrl
                    </td>
                    <td>
                        @item.DisplayOrder
                    </td>

                    <td>
                        <div class="form-group checkbox">
                            <label>
                                @Html.DisplayFor(modelItem => item.IsActive)
                                <span class="hidden">
                                    @if (item.IsActive)
                                    {
                                        @:Active
                                    }
                                    else
                                    {
                                        @:Inactive
                                    }
                                </span>
                            </label>
                        </div>

                    </td>
                    <td style="text-align:right !important;">
                        @*<a class="btn btn-theme-color-2 btn-sm call-popup-model" id="btnPrint" data-title="Room Category - @item.Name" data-href="/administration/roomcategories/print/@item.Id">
                                <span class="glyphicon glyphicon-print"></span>
                            </a>*@

                        <a class="btn btn-theme-color-2 btn-sm" id="btnEdit" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#content" href="/GuestPortal/VisitPlaces/EditVisitPlace/@item.Id">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                        <a class="btn btn-danger btn-sm call-popup-model-delete" id="btnDelete" data-href="/GuestPortal/VisitPlace/DeleteVisitPlace/@item.Id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

    $(document).ready(function () {
        $('#guestPortalVisitPlaces').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: true,
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                    'copy',
                    'excel',
                    'csv',
                    'pdf',
                    'print'
                ],
                scrollY: '58vh',
            });
        //LoadSelectComplaintActionType();
    });

</script>

