@model List<Scienter.HotelERP.Common.Domain.SelectedGuest>

<style>
    .success-color {
        background-color: #4caf50 !important;
        border: none;
        color: #fff !important;
    }

    .connect-color {
        background-color: #ff9800 !important;
        color: #fff !important;
    }

    .failure-color {
        background-color: #bd0000 !important;
        color: #fff !important;
    }
</style>

<script src="~/Scripts/passportsacn/scan.js"></script>
<script src="~/Scripts/passportsacn/main.js"></script>
<link href="~/Scripts/passportsacn/style.css" rel="stylesheet" />


<input type="hidden" value="@ViewBag.reservationHeaderId" name="reservationHeaderId" id="reservationHeaderId" />
<input type="hidden" value="@ViewBag.guestName" name="guestName" id="guestName" />
<input type="hidden" value="@Scienter.HotelERP.Common.Domain.SessionObjects.LoggedUser.LoggedProperty.Id" name="" id="PropertyId" />
<input type="hidden" value="@Scienter.HotelERP.Common.Domain.SessionObjects.LoggedUser.Id" name="" id="UserId" />
<input type="hidden" value="@Scienter.HotelERP.Common.Utility.Configs.GetAppSettingValue("DirectPrintURL")" id="DirectPrintURL" />
<input type="hidden" id="hidden-Uuid" value="@ViewBag.Uuid" />
<input type="hidden" id="imageStringbase64" value="" />

<div class="row">
    <div class="col-md-12">
        <div style="z-index: 10;top: 0px;right: 15px;left: 15px;font-size: 15px;height: 25px;border-radius: 0;width: initial;padding:14px;" id="status" class="connect-color">Device is connecting...</div>
    </div>
</div>

<div class="row" id="guestDetailsGrid" style="margin-top:42px;">

    <div class="col-md-12">
        <fieldset class="the-fieldset padding-margin-bottom-override" style="padding-top:0px; padding-bottom:0px;">
            <legend class="the-legend">
                Guests Details
            </legend>



            <div id="ExistingGuestProfiles">
                <table class="table table-striped reservationGuest-detail-table">
                    <tr>
                        <th>Name</th>
                        <th>Profile Type</th>
                        <th>Contact No</th>
                        <th>Email</th>
                        <th class="text-right">Scan</th>
                        <th class="text-right">View</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="guestDetails">
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <input type="hidden" value="@item.GuestProfileTypeId" class="gPTypeId" />
                                @item.ProfileType
                            </td>
                            <td>
                                @item.ContactNo
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td class="text-right">
                                <button class="btn btn-success btn-sm btnScan" id="btnScan" value="@item.Id" data-profiletype="@item.GuestProfileTypeId" data-id="@item.Id" data-toggle="">
                                    <span class="glyphicon glyphicon-upload"></span>
                                </button>
                            </td>
                            @if (!string.IsNullOrEmpty(item.ImageUrl))
                            {
                                <td width="60px" class="text-right"><button class="btn btn-sm btn-warning btnView" data-guestid="@item.Id" id="btnView" data-Uuid="@item.Uuid">View</button> </td>
                            }


                        </tr>
                    }
                </table>
            </div>

        </fieldset>
    </div>
</div>

<div class="row" id="passportDetailsConfirmationForm" style="margin-top:25px;">
    <form id="confirmationForm">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="hidden" value="" name="guestProfileId" id="guestProfileId" />
                            <input type="hidden" value="" name="receivedJson" id="receivedJson" />
                            <div class="form-group form-group-margin-override label-floating">
                                <label class="control-label">First Name *</label>
                                <input type="text" name="Familyname" id="Familyname" class="form-control" value="" disabled />
                            </div>
                            <div class="form-group form-group-margin-override label-floating">
                                <label class="control-label">Nationality *</label>
                                <input type="text" name="Nationality" id="Nationality" class="form-control" value="" disabled />
                            </div>
                            <div class="form-group form-group-margin-override label-floating">
                                <label class="control-label">Sex *</label>
                                <input type="text" name="Sex" id="Sex" class="form-control" value="" disabled />
                            </div>
                            <div class="form-group form-group-margin-override label-floating">
                                <label class="control-label">DocumentNo *</label>
                                <input type="text" name="DocumentNo" id="DocumentNo" class="form-control" value="" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-margin-override label-floating">
                                <label class="control-label">Last Name *</label>
                                <input type="text" name="Givenname" id="Givenname" class="form-control" value="" disabled />
                            </div>
                            <div class="form-group form-group-margin-override label-floating">
                                <label class="control-label">Birthday *</label>
                                <input type="text" name="Birthday" id="Birthday" class="form-control" value="" disabled />
                            </div>
                            <div class="form-group form-group-margin-override label-floating">
                                <label class="control-label">Issue State *</label>
                                <input type="text" name="IssueState" id="IssueState" class="form-control" value="" disabled />
                                
                            </div>
                            <div class="form-group form-group-margin-override label-floating date">
                                <label class="control-label">Expiry Date *</label>
                                <input type="text" name="Dateofexpiry" id="Dateofexpiry" class="form-control" value="" required readonly />
                               
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="margin-top:15px;">
                                <img id="ScannedImage" src="" style="height:160px; width:335px;" name="ScannedImage" />
                                <input type="hidden" name="ScannedImage" id="ScannedImage" />
                                <input type="file" name="fileScannedImageImage" id="ScannedImageImagee" accept=".jpg, .png, .gif, .jpeg" />
                            </div>
                            <input type="hidden" value="" name="DocType" id="DocType" />
                            <input type="hidden" value="" name="Angle" id="Angle" />
                            <input type="hidden" value="" name="MRTDs" id="MRTDs" />
                            <input type="hidden" value="" name="NativeName" id="NativeName" />
                            <input type="hidden" value="" name="Checksum" id="Checksum" />
                            <input type="hidden" value="" name="Uuid" id="Uuid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left:0;">
                <div class="form-group">
                    <input type="button" id="btnBack" value="Back" class="btn btn-default btnBack" />
                    <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<div id="scanner-service-model" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding:50px; width:400px;">
        <div class="modal-content" id="grid-detail-popup-container">
            <div class="modal-body">
                <center>
                    <img src="/Images/loading.gif" width="120px" alt="Loading device" style="display:block;" />
                    <h1 style="font-size:24px; font-weight:bold;"></h1>
                    <b id="status">
                        Connecting to Scanner Service.<br />
                        Please Wait...<br />
                    </b>
                </center>
            </div>
        </div>
    </div>
</div>


<div class="loading-mask hide">
    <div class="loader"></div>
</div>

<script src="~/Scripts/ui/reservation-list/side-buttons/scan-passport.js"></script>


@*<script>

    var maxWaitingTime = 18;
    function ShowCountDown() {
        maxWaitingTime = 18;
        setInterval(function () {
            var msg = maxWaitingTime + "s";
            if (maxWaitingTime <= 0) {
                $('#scanner-service-model h1').fadeOut();
            } else {
                $('#scanner-service-model h1').html(msg);
                $('#scanner-service-model h1').fadeIn();
            }
            maxWaitingTime = maxWaitingTime - 1;
        }, 1000);
    }

    function HideCountDown() {
        $('#scanner-service-model h1').fadeOut();
    }

    $(document).ready(function () {
        $('#passportDetailsConfirmationForm').hide();
        $('#guestDetailsGrid').show();
        
    });


    $('.btnView').off('click').on('click', function (e) {
        var uniqueId = $(this).attr("data-Uuid");
        var gustProfileId = $(this).attr('data-guestid');
        RetriveRecordsByUuid(gustProfileId);
    });

    function RetriveRecordsByUuid(gustProfileId) {
        $.ajax({
            url: '/reservation/ReservationList/RetriveRecordsByUuid',
            dataType: 'json',
            method: 'POST',
            data: { gustProfileId: gustProfileId },
            beforeSend: function () { },
            complete: function () { },
            success: function (data) {
                debugger;
                if (data.DocumentNo == null) {
                    ShowWarningMessage('Scanner busy. Please try again after 10 seconds.');
                } else {
                    ShowPassportDetails(data);
                }
            },
            error: function (data) {
                ShowErrorMessage('Sorry there is an error in scanning the passport.');
            }
        });
    }

    function ShowPassportDetails(data) {
        console.log(data);
        debugger;
        $('#passportDetailsConfirmationForm').show();
        $('#guestDetailsGrid').hide();

        $('#Familyname').val(data.Familyname);
        $('#Nationality').val(data.Nationality);
        $('#Sex').val(data.Sex);
        $('#DocumentNo').val(data.DocumentNo);
        $('#Givenname').val(data.Givenname);
        $('#IssueState').val(data.IssueState);
        $("#ScannedImage").attr('src', data.ImageString);
        data.Image = "";

        $('#DocType').val(data.Type);
        $('#Angle').val(data.Angle);
        $('#MRTDs').val(data.MRTDs);
        $('#NativeName').val(data.NativeName);
        $('#Checksum').val(data.Checksum);

        $('#Birthday').val(data.Birthday);
        $('#Dateofexpiry').val(data.Dateofexpiry);
    }

    $('body').off('submit').off('submit', '#confirmationForm').on('submit', '#confirmationForm', function (e) {
        e.preventDefault();

        var verifiedDetails = {
            GuestId: $('#guestProfileId').val(),
            Familyname: $('#Familyname').val(),
            Givenname: $('#Givenname').val(),
            NationalityName: $('#Nationality').val(),
            Birthday: $('#Birthday').val(),
            Sex: $('#Sex').val(),
            Dateofexpiry: $('#Dateofexpiry').val(),
            IssueState: $('#IssueState').val(),
            DocumentNo: $('#DocumentNo').val(),
            Image: $("#ScannedImage").attr('src'),
            DocType: $('#DocType').val(),
            Angle: $('#Angle').val(),
            NativeName: $('#NativeName').val(),
            Checksum: $('#Checksum').val(),
            Uuid: $('#Uuid').val(),
            ImageString: $('#imageStringbase64').val()
        };
        $.ajax({
            url: '/Reservation/ReservationList/SavePassportDocument',
            dataType: 'json',
            data: { document: verifiedDetails },
            method: 'POST',
            success: function (response) {
                var Type = $('#resType').val();
                if (response == "success") {
                    ShowSuccessMessage('Record has been saved successfully.');
                    setTimeout(function () {
                        if (Type == "reservation") {
                            closeFullContent();
                            LoadReservationGrid();
                        } else {
                            location.reload()
                        }
                    }, 2500);

                } else {
                    ShowWarningMessage(response);
                }

            }
        });
    });

    $('.btnBack').off('click').on('click', function (e) {
        $('#passportDetailsConfirmationForm').hide();
        $('#guestDetailsGrid').show();
    });
</script>*@
