<input type="hidden" id="resId" class="resId" value="@ViewBag.reservationHeaderId" />
<input type="hidden" id="guestId" class="guestId" value="@ViewBag.GuestProfileId" />
<input type="hidden" id="reservationUuid" class="reservationUuid" value="@ViewBag.reservationUuid" />
<input type="hidden" id="reportFolder" class="reportFolder" value="@Scienter.HotelERP.Common.Utility.Configs.GetAppSettingValue("SSRSReportsFolder").ToString()" />
<input type="hidden" id="reportServer" class="reportServer" value="@Scienter.HotelERP.Common.Utility.Configs.GetAppSettingValue("ReportServer").ToString()" />
<input type="hidden" id="ReportSourceConStr" class="ReportSourceConStr" value="@Scienter.HotelERP.Common.Utility.Configs.GetAppSettingValue("ReportSourceConStr").ToString()" />

<style>
    .the-fieldset {
        min-height: 265px;
        max-height: 266px;
    }
    .container-padding {
        padding: 50px 300px;
    }
</style>
<div class="container container-padding">
    <form method="post" id="emailSubmitForm">
        <div class="row">
            <div class="col-md-5 card1">
                <fieldset class="the-fieldset">
                    <legend class="the-legend">Email Types</legend>
                    <div class="col-md-12" id="emailTypesLoadingArea">

                    </div>
                </fieldset>
            </div>
            <div class="col-md-7 card2">
                <fieldset class="the-fieldset">
                    <legend class="the-legend">Compose</legend>
                    <div class="col-md-12" id="emailComposeArea">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <div id="mailId">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Message</label>
                                    <textarea maxlength="1000" rows="4" id="subject" name="subject" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" id="btnSend" class="btn btn-primary" style="width: 200px;">Send</button>
            </div>
        </div>
    </form>

</div>
    <script>

        $(document).ready(function () {
            FillMailAddress();
            LoadReservationNumbers();
        });

        function FillMailAddress() {
            debugger;
            var guestProfileId = $('#guestId').val();

            $.ajax({
                url: '/reservation/ReservationList/GuestProfileSelect?guestProfileId=' + guestProfileId,
                dataType: 'JSON',
                method: 'POST',
                success: function (data) {
                    console.log(data.Email);
                    $(
                        '<label class="control-label">Email </label>' +
                        '<input type="text" name="Email" id="email" class="form-control" value="' + data.Email + '" />'
                    ).appendTo("#mailId");
                },
                error: function (error) {
                    ShowErrorMessage('There is an error in loading this record.')
                },
                complete: function () {
                }
            });
        }

        function LoadReservationNumbers() {
            $.ajax({
                method: 'GET',
                url: '/Reservation/ReservationList/SelectEmailTypes',
                datatype: 'html',
                success: function (data) {
                    $.each(data, function (index, item) {
                        $(
                            '<ul id="myUL">' +
                            '<li>' +
                            '<div class="checkbox">' +
                            '<label>' +
                            '<input type="checkbox" class="checkBoxGroup checbox-item" id="mail-type" value="' + item.Id + '" />' +
                            item.Name +
                            '</label>' +
                            '</div>' +
                            '</li>' +
                            '</ul>'
                        ).appendTo("#emailTypesLoadingArea");
                    });

                },
                complete: function () {
                    setCardHeights();
                },
            });
        }

        $('body').off('submit', '#emailSubmitForm').on('submit', '#emailSubmitForm', function (e) {
            e.preventDefault();
            var ReservationUuid = $('#reservationUuid').val();
            var HotelDate = $('#hotelDate').val();
            var ReportFolder = $('#reportFolder').val();
            var ReportServer = $('#reportServer').val();
            var ReportSourceConStr = $('#ReportSourceConStr').val();

            var ReservationEmail = [];
            var mail = {};

            $.each($('.checbox-item'), function (index, item) {
                if ($(item).prop('checked')) {
                    mail = {
                        EmailTypeId: $(item).val(),
                        ReservationHeaderId: $('#resId').val(),
                        EmailId: $('#email').val(),
                        Subject: $('#subject').val()
                    }
                    ReservationEmail.push(mail);
                    console.log(ReservationEmail);
                }
            });
            $.ajax({
                url: '/reservation/ReservationList/SaveReservationEmail',
                dataType: 'JSON',
                data: { receivedMails: ReservationEmail, Uuid: ReservationUuid, ReportFolder: ReportFolder, ReportServer: ReportServer, ReportSourceConStr: ReportSourceConStr },
                method: 'POST',
                success: function (response) {
                    if (response.startsWith("ERR-")) {
                        ShowErrorMessage('Please select at least one email type.');
                    } else {
                        ShowSuccessMessage('Message sent successfully.');
                    }


                    setTimeout(function () {
                        //  closeFullContent();
                        LoadReservationGrid();

                    }, 2500);
                },
                error: function (xhr, status, error) {
                    ShowErrorMessage('Sorry, There is an error.');
                }
            });

        });

        function setCardHeights() {
            var card1Height = $('.card1').height();
            var card2Height = $('.card2').height();
            var maxHeight = Math.max(card1Height, card2Height);
            $('.card1, .card2').height(maxHeight);
        }

    </script>
