
@model Scienter.HotelERP.Common.Domain.RoomStatus

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomStatusCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomStatusCategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            <div style="height:30px; width:30px;">
                <div style="width:35px; height:25px; background-color:@Model.ColorValue">

                </div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
