@model IEnumerable<Scienter.HotelERP.Common.Domain.ViewModels.PackageHeaderView>

@{
    ViewBag.Title = "Existing Alert Types";
}


<div class="table-responsive  grid-container">
    <table class="table table-striped" id="existingPackageHeaderGrid">
        <thead>
            <tr>
                <th></th>

                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.PostingRhythmID)
                </th>
                <th class="text-primary">
                    @Html.DisplayNameFor(model => model.AttributeID)
                </th>

                <th class="col-md-1 text-primary">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th class="col-md-2 hidden-print"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><span class="fa fa-plus" data-toggle="collapse" data-target=".data-package-detail-@item.Id"></span></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostingRhythmName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttributeName)
                </td>

                <td class="col-md-1">
                    <div class="form-group checkbox">
                        <label>
                            @Html.DisplayFor(modelItem => item.IsActive)
                            <span class="hidden">
                                @if (item.IsActive)
                                {
                                    @:Active
                                }
                                else
                                {
                                    @:Inactive
                                }
                            </span>
                        </label>
                    </div>
                </td>
                <td class="hidden-print text-right">
                    @*<a class="btn btn-theme-color-2 btn-sm call-popup-model" id="btnPrint" data-title="Package Headers - @item.Name" data-href="/administration/packageheaders/print/@item.Id">
                <span class="glyphicon glyphicon-print"></span>
            </a>*@

                    <a class="btn btn-theme-color-2 btn-sm" id="btnEdit" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#content" href="/administration/packageheaders/edit/@item.Id">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <a class="btn btn-danger btn-sm call-popup-model-delete" id="btnDelete" data-href="/administration/packageheaders/delete/@item.Id">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>

                    <a class="btn btn-theme-color-2 btn-sm " id="" data-title="Bed Type - @item.Name" href="/administration/packagedetails/landing/@item.Id">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>

                </td>
            </tr>
                <tr>
                    <td></td>
                    <td colspan="6">
                        <div class="table-responsive data-package-detail-@item.Id collapse">
                            <table class="table table-striped" id="existingChargeTypeGrid">
                                <thead>
                                    <tr>

                                        <th class="col-md-2">
                                            Name
                                        </th>
                                        <th class="col-md-2">
                                            From
                                        </th>
                                        <th class="col-md-2">
                                            To
                                        </th>
                                        <th class="col-md-2">
                                            Amount
                                        </th>
                                        <th class="col-md-1">
                                            Active
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        IEnumerable<Scienter.HotelERP.Common.Domain.ViewModels.PackageDetailsView> obj = new Scienter.HotelERP.FrontOffice.Service.PackageDetailsService().SelectByHeaderId(item.Id);
                                    }
                                    @if (obj.Count() ==0)
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <center> No package details found</center>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var packageDetail in obj)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => packageDetail.Name)
                                                </td>
                                                <td>
                                                    @packageDetail.StartingDate.ToShortDateString()
                                                </td>
                                                <td>
                                                    @packageDetail.EndingDate.ToShortDateString()
                                                </td>
                                                <td class="">
                                                    @packageDetail.Amount
                                                </td>
                                                <td>
                                                    <div class="form-group checkbox">
                                                        <label>
                                                            @Html.DisplayFor(modelItem => item.IsActive)
                                                            <span class="hidden">
                                                                @if (packageDetail.IsActive)
                                                                {
                                                                    @:Active
                                                                }
                                                                else
                                                                {
                                                                    @:Inactive
                                                                }
                                                            </span>
                                                        </label>
                                                    </div>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>

                </tr>

            }
        <tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#existingPackageHeaderGrid').DataTable(
            {
                //"dom": '<"top"ifb>rt<"bottom"lp><"clear">',
                searching: true,
                ordering: true,
                //"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                    'copy',
                    'excel',
                    'csv',
                    'pdf',
                    'print'
                ],
                scrollY: '58vh',
            });

        LoadHeaderWisePackageDetails();
    });
    function LoadHeaderWisePackageDetails() {
        $.ajax({
            url: '',
            dataType: 'json',
            success: function (data) {

            },
        });
    }
</script>
