
@model  IEnumerable<Scienter.HotelERP.Common.Domain.Posting>

@{
    ViewBag.Title = "Existing Postings";
}

<div class="table-responsive">
    <table id="current-date-postings" class="table table-striped">
        <thead>
            <tr>
                <th class="text-primary">
                    Reservation No
                </th>
                <th class="text-primary">
                    Room No
                </th>
                <th class="text-primary">
                    Doc No
                </th>
                <th class="col-md-1 text-primary">
                    Posting Type
                </th>
                <th class="text-primary">
                    Charge Code
                </th>
                <th class="col-md-1 text-primary">
                    Charge Date
                </th>
                <th class="text-primary">
                    Charge Amount
                </th>
                <th class="col-md-1 text-primary">
                    Folio Text
                </th>
                <th class="text-primary">
                    Remarks
                </th>
                <th class="col-md-1 hidden-print"></th>
                @*<th class="col-md-1 hidden-print"></th>*@
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostingType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChargeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChargeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FolioText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td class="hidden-print text-right">
                    <a class="btn btn-danger btn-sm" id="btnDelete" data-id="@item.Id">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
                @*<td class="hidden-print text-right">
                    <a class="btn btn-primary btn-sm" id="btnPrint" data-id="@item.Id">
                        <span class="glyphicon glyphicon-print"></span>
                    </a>
                </td>*@
            </tr>
            }
        </tbody>

    </table>
</div>

<script>
    $('body').on('click', '#btnDelete', function () {
        //debugger;
        var id = $(this).attr('data-id');
        CallPasswordModel(function (e) {
            var url = '/CashieringAndPosting/Posting/DeletePosting/' + id;
            CallDeleteModel(url);
        });
    });

    //2024-02-06 Fiscal Printer
    //$('body').on('click', '#btnPrint', function () {
    //    var id = $(this).attr('data-id');
    //    var fiscalPrinterUrl = '/Base/FiscalPrinter_VoidPosting?extraPostingId=' + 53;
    //    //alert(fiscalPrinterUrl);
    //    FiscalPrinterRequest(fiscalPrinterUrl);
    //});


    $(function () {
        $('#current-date-postings').DataTable(
            {
                searching: true,
                ordering: true,
                dom: 'Bfrtipl',
                select: true,
                buttons: [
                    'copy',
                    'excel',
                    'csv',
                    'pdf',
                    'print'
                ],
                scrollY: '58vh',
            });
    })
</script>