
@model IEnumerable<Scienter.HotelERP.Common.Domain.ViewModels.InHouseRoomView>

@{
    ViewBag.Title = "Bill Posting -In House";
}

<style>
    .searchdiv .form-group {
        margin: 0px;
    }

    .the-fieldset {
        padding: 15px;
    }
</style>
<div class="row">
    <div class="row">
        <div class="col-md-12 hidden-print" id="selectRoomCard">
            <fieldset class="the-fieldset">
                @if ((ViewBag.postingType == "inhouse") || (ViewBag.postingType == "rebate"))
                {
                    <legend style="height:auto;" class="the-legend"><font size="2">Select Rooms</font> </legend>
                    <div class="input-group searchdiv" style="width:94%;">
                        <input type="text" class="form-control text-box single-line" placeholder="Search Rooms" onkeyup="searchRoom()" id="txtSearch" />
                    </div>

                    <div class="col-md-12" id="RoomLoadingArea" style="height: 360px; overflow-y: auto;margin-top:10px; margin-left:-15px;">
                        <ul id="myUL">
                            @foreach (var item in Model)
                            {
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="checkBoxGroup" reservation-no="@item.ReservationNo" Guest-Id="@item.GuestId" data-allowCreditPosting="@item.AllowCreditPosting" roomId="@item.RoomId" room-code="@item.RoomCode.Trim()" name="@item.Name" value="@item.RoomCode.Trim()" />@item.RoomName
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </fieldset>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.checkBoxGroup').each(function (index, element) {
            if ($(element).attr('roomId') == $('#roomNo').val()) {
                $(element).prop('checked', true);
                return false;
            }
        });
    });

</script>